:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --black: #0e0e0e;
  --pale-grey: #f0f2f5;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;
  --white: #ffffff;
  --ice-blue: #e5e9fd;
  --gradient: linear-gradient(to right bottom, #455efd, #ff5483#f46e4b);
  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.event-date-section {
  width: 100%;

  height: auto;
  /* background-color: var(--white); */
  margin: 0rem auto;
  border-radius: 1.6rem;
  margin-bottom: 40rem;
}

.event-date-container {
  /* padding: 3.2rem 3.2rem 0rem 3.2rem; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.event-date-title {
  font-size: 3.2rem;
  font-weight: 800;
}

a.all-event-date-link {
  text-decoration: none;
  color: var(--grey);
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}

a.all-event-date-link:hover {
  color: var(--primary);
}

.fa-chevron-right {
  margin-right: 0.8rem;
}

.event-date-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nyilak-button {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.scroll-right {
  margin-left: 1.6rem;

  transition: all 0.15s ease-in-out;
}
.scroll-right:hover {
  color: var(--primary);
}

.scroll-left:hover {
  color: var(--primary);
}

.up-c-scroll-container {
  position: relative;

  padding: 0 0 1.2rem 0;
}

.event-date-line {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 4.8rem;
  width: 100%;
  padding: 1.6rem 0rem;

  flex-wrap: nowrap;
}

.event-date-card {
  height: auto;
  width: 100%;
  gap: 32vh;
  /* height: 100vh;
  width: 100%; */
  border-radius: 1.6rem;

  box-shadow: var(--popular-sh);

  transition: background-size 0.3s ease;
}
.event-date-card:hover {
  background-size: 110%; /* Increase background size to 120% on hover */
  cursor: pointer;
}
.event-date-card.first {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url("./img/event-date1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-card.second {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url("./img/event-date2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-card.third {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url("./img/event-date3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-card.fourth {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url("./img/event-date4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-line:hover .first:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.event-date-line:hover .second:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.event-date-line:hover .third:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.event-date-line:hover .fourth:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pop-img {
  width: 100%;
  height: 24rem;
  border-radius: 2.4rem;
}

.event-date-upper-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.event-date-date {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  justify-content: center;

  border-radius: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  width: 5.6rem;
  height: 5.6rem;

  box-shadow: var(--popular-sh);
}

.event-date-number {
  font-weight: 800;
}

.event-date-month {
  color: var(--grey);
  font-size: 1.2rem;
  font-weight: 600;
}

.event-date-heart-icon {
  font-size: 2.4rem;
  color: var(--white);
  margin-top: 0.8rem;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
}

.event-date-heart-icon-filled {
  font-size: 2.4rem;
  color: var(--white);
  margin-top: 0.8rem;
  cursor: pointer;
}

.event-date-lower-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--white);
  border-radius: 1.6rem;
  padding: 1.6rem 2.4em;
  box-shadow: var(--popular-sh);
}

.upper-info-container {
  font-size: 1.6rem;
  font-weight: 800;
}

h3.h3 {
  font-weight: 800;
}

.lower-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.event-date-hour {
  color: var(--grey);
}

a {
  text-decoration: none;
}

a .event-date-price {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary);
  background-color: var(--primary-light);
  padding: 0.8rem;
  border-radius: 8rem;
}
