:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --black: #0e0e0e;
  --pale-grey: #f9faff;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;
  --white: #ffffff;
  --ice-blue: #e5e9fd;
  --gradient: linear-gradient(to right bottom, #455efd, #ff5483, #f46e4b);
  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.event-date-section20240811 {
  width: 100%;

  height: auto;
  /* background-color: var(--white); */
  margin: 0rem auto;
  border-radius: 1.6rem;
  margin-bottom: 40rem;
}

.event-date-container {
  /* padding: 3.2rem 3.2rem 0rem 3.2rem; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.event-date-title {
  font-size: 3.2rem;
  font-weight: 800;
}

a.all-event-date-link {
  text-decoration: none;
  color: var(--grey);
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}

a.all-event-date-link:hover {
  color: var(--primary);
}

.fa-chevron-right {
  margin-left: 0.8rem;
}

.event-date-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nyilak-button {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.scroll-right {
  margin-left: 1.6rem;

  transition: all 0.15s ease-in-out;
}
.scroll-right:hover {
  color: var(--primary);
}

.scroll-left:hover {
  color: var(--primary);
}

.up-c-scroll-container {
  position: relative;
  z-index: 22;

  padding: 0 0 1.2rem 0;
}

.event-date-line {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(32%, 1fr)
  ); /* Három kártya egymás mellett, min. 300px szélesség */
  gap: 20px; /* Kártyák közötti távolság */
  justify-content: center; /* Kártyák középre igazítása */
  padding: 20px; /* Kártyák körüli padding */
}

/* Média lekérdezések a reszponzivitás érdekében */
@media (max-width: 830px) {
  .event-date-line {
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); /* Kisebb képernyőn kisebb kártyák */
  }
}

@media (max-width: 480px) {
  .event-date-line {
    grid-template-columns: 1fr; /* Egy kártya teljes szélessége kisebb képernyőn */
  }
}

.event-date-card {
  height: auto;
  width: 100%;
  gap: 32vh;
  /* height: 100vh;
  width: 100%; */
  border-radius: 2.4rem;
  background-color: white;

  box-shadow: var(--popular-sh);

  transition: background-size 0.3s ease;
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-card {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 0;
  /* justify-content: space-between; */

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-card.second {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 0;
  /* justify-content: space-between; */

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-card.third {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 0;
  /* justify-content: space-between; */

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-card.fourth {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 0;
  /* justify-content: space-between; */

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.event-date-card:hover {
  background-size: 110%; /* Increase background size to 120% on hover */
  cursor: pointer;
}

.event-date-line:hover .event-date-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pop-img {
  width: 100%;
  height: 24rem;
  border-radius: 2.4rem;
}

.event-date-upper-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.8rem;
}

.event-date-date {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  justify-content: center;

  font-size: 1.6rem;
  border-radius: 1.6rem;
  text-align: center;
  width: 6rem;
  height: 6rem;

  box-shadow: var(--popular-sh);
}

.event-date-number {
  font-weight: 800;
}

.event-date-month {
  color: var(--grey);
  font-size: 1.2rem;
  font-weight: 600;
}

.event-date-heart-icon {
  font-size: 2.4rem;
  color: var(--white);
  margin-top: 0.8rem;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
}

.event-date-heart-icon-filled {
  font-size: 2.4rem;
  color: var(--white);
  margin-top: 0.8rem;
  cursor: pointer;
}

.event-date-ellipsis-icon-filled {
  font-size: 2.4rem;
  color: var(--black);
  margin-top: 0.8rem;
  cursor: pointer;
}
.event-date-lower-img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
  background-color: var(--white);
  padding: 1.6rem 1.6rem 0.8rem 1.6rem;
  border-radius: 2.4rem;
}

.event-date-lower-text-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  background-color: var(--white);
  padding: 1.6rem 2.4rem 2.4rem 2.4rem;
  border-radius: 2.4rem;
}

.upper-img1-container {
  padding: 13.6rem;
  border-radius: 1.6rem;
  background: url(./img/event-date1.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.upper-img1-1-container {
  padding: 13.6rem;
  border-radius: 1.6rem;
  background: url(./img/e-d1-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.upper-img1-2-container {
  padding: 13.6rem;
  border-radius: 1.6rem;
  background: url(./img/e-d1-2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.upper-img2-container {
  padding: 13.6rem;
  border-radius: 1.6rem;
  background: url(./img/event-date2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.upper-img3-container {
  padding: 13.6rem;
  border-radius: 1.6rem;
  background: url(./img/event-date3.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.upper-img4-container {
  padding: 13.6rem;
  border-radius: 1.6rem;
  background: url(./img/event-date4.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.upper-info-container {
  font-size: 1.6rem;
  font-weight: 800;
}

a.popular-link h3.h3 {
  color: var(--black);
  font-weight: 800;
  text-decoration: none;
}

.bigger {
  font-size: 2.8rem;
  letter-spacing: -0.8px;
  line-height: 1.2;
}

.lower-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.event-date-hour {
  color: var(--grey);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a .event-date-price {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary);
  background-color: var(--primary-light);
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  border-radius: 8rem;
}

.event-date-upper-container-outside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3.2rem;
  display: flex;
  justify-content: space-between;
}
.event-date-lower-container-outside {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.6rem 0.8rem 1.6rem;
}

.name-margin-left {
  margin-left: 1.6rem;
}

.event-text-upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem 0 2rem;
}

.event-org-date-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.haromDot {
  padding: 0.4rem;
  text-align: center;
  margin: 0;
  transition: all 0.2s ease-out;
}
.fa-ellipsis {
  margin: 0;
}

.haromDot:hover {
  background-color: var(--pale-grey);
  border-radius: 50rem;

  cursor: pointer;
}

.event-mini-date {
  overflow-x: scroll;
}

.events-line {
  position: relative;
  z-index: 10;
  display: flex;
}

.events-date.first {
  margin-left: 6.4rem;
}

.events-date.today {
  color: var(--primary);
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20; /* Térkép alacsonyabb z-index a többi elemhez képest */
  display: none; /* Kezdetben rejtve */
}

/* Lenyíló naptár stílusa */
/* #calendar-dropdown {
  display: none; 
  position: absolute;
  top: 25%;
  right: 2%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
} */

.calendar-dropdown {
  font-size: 1.6rem;
  font-family: var(--body-font);
  padding: 0.8rem 0.8rem 2.4rem 0.8rem;
}

.calendar-header {
  font-family: var(--body-font);
}

.calendar-body {
  font-family: var(--body-font);
}

.calendar-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.calendar-table th {
  padding: 8px;
  text-align: center;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}
.calendar-table th:first-child {
  border-top-left-radius: 1.4rem;
}

.calendar-table th:last-child {
  border-top-right-radius: 1.4rem;
}

.calendar-table td {
  padding: 8px;
  width: auto;
  text-align: center;
  border: none;
  background-color: var(--pale-grey);
  cursor: pointer;
}

.calendar-table td:hover {
  background-color: #f0f0f0;
}

.calendar-table .selected-date {
  background-color: var(--primary);
  color: white;
}

#calendar-header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.8rem;
}

#calendar-header button {
  background-color: #f0f0f0;
  border: none;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 5 0%;
}

#calendar-header button:hover {
  background-color: transparent;
}

#calendar-header #month-year {
  font-size: 1.4em;
  font-weight: 700;
}

.calendar-table th.clicked,
.calendar-table td.clicked {
  background-color: var(--primary); /* Példa háttérszín */
  color: var(--white); /* Példa szövegszín */
  border-radius: 50%;
}

.calendar-table td.inactive {
  color: var(--grey); /* Halvány szín a szövegnek */
  cursor: default;
}

#next-month .fa-solid.fa-chevron-right {
  display: block;
  font-size: 2.4rem;
}

#prev-month .fa-solid.fa-chevron-left {
  display: block;
  font-size: 2.4rem;
}

#next-month .fa-solid.fa-chevron-right:hover {
  color: var(--primary);
}

#calendar-header button {
  background-color: transparent;
  border: none;
  padding: 1.6rem;
  cursor: pointer;
  border-radius: 50%;
}

.cat-date-line,
.events-line {
  display: flex;
  overflow-x: auto;
  white-space: nowrap; /* A sorban lévő elemek ne törjenek új sorba */
  scroll-behavior: smooth; /* Sima görgetés */
  -webkit-overflow-scrolling: touch; /* Jobb görgetési élmény érintőképernyőn */
}

/* Elrejti a görgetősávot, ha nem szükséges */
.cat-date-line::-webkit-scrollbar,
.events-line::-webkit-scrollbar {
  display: none;
}
