:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --black: #0e0e0e;
  --pale-grey: #f0f2f5;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;
  --white: #ffffff;
  --ice-blue: #e5e9fd;
  --gradient: linear-gradient(to right bottom, #455efd, #ff5483#f46e4b);
  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.events-section {
  width: 100%;

  height: auto;
  /* background-color: var(--white); */
  margin: 0 auto;
  border-radius: 1.6rem;
  margin-bottom: 40rem;
}

.events-container {
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.events-title {
  font-size: 4rem;
  font-weight: 800;
}

a.all-events-link {
  text-decoration: none;
  color: var(--grey);
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}

a.all-events-link:hover {
  color: var(--primary);
}

.fa-chevron-right {
  margin-left: 0.8rem;
}

.events-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  white-space: normal;
  word-break: break-word;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  gap: 3.2rem;
}

.left-flex-location-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: flex-start;
}

.text-info-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.6rem;
  gap: 0.4rem;
}

.location {
  color: var(--grey);
  font-weight: 700;
  font-size: 1.2rem;
}

.location-name {
  font-size: 2rem;
  font-weight: 800;
}

.right-flex-location-container {
  display: flex;
  align-items: flex-start;

  border-radius: 1rem;

  box-shadow: var(--popular-sh);
}
/* 
#location-img {
  display: block;
  align-self: flex-start;
  width: 5.6rem;
  height: 5.6rem;

  border: 4px solid var(--white);
  border-radius: 1rem;

  cursor: pointer;
} */

.map-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./img/map-icon3.png");
  background-repeat: no-repeat;
  background-size: 350%;
  background-position: center;
  height: 5.6rem;
  width: 5.6rem;
  border: 4px solid var(--white);
  border-radius: 0.8rem;
  filter: brightness(105%);

  transition: background-size 0.3s ease-in;
  -moz-transition: background-size 0.3s ease-in;
  -ms-transition: background-size 0.3s ease-in;
  -o-transition: background-size 0.3s ease-in;
  -webkit-transition: background-size 0.3s ease-in;

  cursor: pointer;
}

.bp-location {
  font-size: 2.4rem;
  color: var(--primary);

  transition: all 0.2s ease-in-out;
}

.map-img:hover {
  background-size: 500%;
}

.scroll-right {
  margin-left: 1.6rem;

  transition: all 0.15s ease-in-out;
}
.scroll-right:hover {
  color: var(--primary);
}

.scroll-left:hover {
  color: var(--primary);
}

.scroll-container {
  position: relative;

  padding: 0 0 1.2rem 0;
}

.events-line {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 2.4rem;
  width: 100%;
  padding: 1.6rem 0rem;

  flex-wrap: nowrap;
}

.events-card {
  height: auto;
  width: 100%;
  gap: 32vh;
  /* height: 100vh;
  width: 100%; */
  border-radius: 1.6rem;

  box-shadow: var(--popular-sh);

  transition: background-size 0.3s ease;
}
.events-card:hover {
  background-size: 110%; /* Increase background size to 120% on hover */
  cursor: pointer;
}
.events-card.first {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url("./img/upcoming1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.events-card.second {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url("./img/upcoming2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.events-card.third {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url("./img/upcoming3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.events-card.fourth {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url("./img/upcoming4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Adjust the minimum width of cards as needed */
  transition: transform 0.3s ease; /* Smooth transition for card movement */

  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.events-line:hover .first:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.events-line:hover .second:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.events-line:hover .third:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.events-line:hover .fourth:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pop-img {
  width: 100%;
  height: 24rem;
  border-radius: 2.4rem;
}

.events-upper-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.events-date {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  justify-content: center;

  border-radius: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  width: 5.6rem;
  height: 5.6rem;

  box-shadow: var(--popular-sh);
}

.events-number {
  font-weight: 800;
}

.events-month {
  color: var(--grey);
  font-size: 1.2rem;
  font-weight: 600;
}

.events-heart-icon {
  font-size: 2.4rem;
  color: var(--white);
  margin-top: 0.8rem;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
}

.events-heart-icon-filled {
  font-size: 2.4rem;
  color: var(--white);
  margin-top: 0.8rem;
  cursor: pointer;
}

.events-lower-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: var(--white);
  border-radius: 1.6rem;
  padding: 1.6rem 2.4em;
  box-shadow: var(--popular-sh);
}

.upper-info-container {
  font-size: 1.6rem;
  font-weight: 800;
}

h3.h3 {
  font-weight: 800;
}

.lower-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.events-hour {
  color: var(--grey);
}

a {
  text-decoration: none;
}

a .events-price {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary);
  background-color: var(--primary-light);
  padding: 0.8rem;
  border-radius: 8rem;
}
