:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --primary-light-darker: #ffd7e1;
  --primary-lightest: #fff6f9;
  --black: #0e0e0e;
  --pale-grey: #f9faff;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;

  --white: #ffffff;
  --ice-blue: #e5e9fd;

  --yellow: #fdf5eb;

  --linear-gradient-1: linear-gradient(
    to right bottom,
    #455efd,
    #ff5483,
    #f46e4b
  );

  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --fixed-bottom: rgba(99, 99, 99, 0.1) 0px -2px 8px 0px;
}

@import url("https://use.typekit.net/ovt6ynt.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: default;

  overflow: auto;
}

body {
  font-family: var(--body-font);
  background-color: var(--pale-grey);
}

main {
  height: 100%;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap&subset=latin-ext");
:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fff;
  --settings-icon-hover: #9fa7ac;
  --developer-color: #f9fafb;
  --input-bg: #f8f8fa;
  --input-chat-color: #a2a2a2;
  --border-color: #eef2f4;
  --body-font: "Manrope", sans-serif;
  --body-color: #273346;
  --settings-icon-color: #c1c7cd;
  --msg-message: #969eaa;
  --chat-text-bg: #f1f2f6;
  --theme-color: #ff5483;
  --msg-date: #c0c7d2;
  --button-bg-color: #f0f7ff;
  --button-color: var(--theme-color);
  --detail-font-color: #919ca2;
  --msg-hover-bg: rgba(238, 242, 244, 0.4);
  --active-conversation-bg: linear-gradient(
    to right,
    rgba(238, 242, 244, 0.4) 0%,
    rgba(238, 242, 244, 0) 100%
  );
  --overlay-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  );
  --chat-header-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 78%,
    rgba(255, 255, 255, 0) 100%
  );
}

[data-theme="purple"] {
  --theme-color: #9f7aea;
  --button-color: #9f7aea;
  --button-bg-color: rgba(159, 122, 234, 0.12);
}

[data-theme="green"] {
  --theme-color: #38b2ac;
  --button-color: #38b2ac;
  --button-bg-color: rgba(56, 178, 171, 0.15);
}

[data-theme="orange"] {
  --theme-color: #ed8936;
  --button-color: #ed8936;
  --button-bg-color: rgba(237, 137, 54, 0.12);
}

.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #27292d;
  --border-color: #323336;
  --body-color: #d1d1d2;
  --active-conversation-bg: linear-gradient(
    to right,
    rgba(47, 50, 56, 0.54),
    rgba(238, 242, 244, 0) 100%
  );
  --msg-hover-bg: rgba(47, 50, 56, 0.54);
  --chat-text-bg: #383b40;
  --chat-text-color: #b5b7ba;
  --msg-date: #626466;
  --msg-message: var(--msg-date);
  --overlay-bg: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    #27292d 65%,
    #27292d 100%
  );
  --input-bg: #2f3236;
  --chat-header-bg: linear-gradient(
    to bottom,
    #27292d 0%,
    #27292d 78%,
    rgba(255, 255, 255, 0) 100%
  );
  --settings-icon-color: #7c7e80;
  --developer-color: var(--border-color);
  --button-bg-color: #393b40;
  --button-color: var(--body-color);
  --input-chat-color: #6f7073;
  --detail-font-color: var(--input-chat-color);
}

.blue {
  background-color: #ff5483;
}

.purple {
  background-color: #9f7aea;
}

.green {
  background-color: #38b2ac;
}

.orange {
  background-color: #ed8936;
}

* {
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  color: var(--body-color);
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg-color);
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  border-radius: 3.2rem;
}

/* .header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
} */

.wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding: 1.6rem;
}

.conversation-area,
.detail-area {
  width: 340px;
  flex-shrink: 0;
}

.detail-area {
  border-left: 1px solid var(--border-color);
  margin-left: auto;
  padding: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat-area {
  flex-grow: 1;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.conversation-area {
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.msg-profile {
  width: 44px;
  height: 44px;
  border-radius: 1.6rem;
  object-fit: cover;
  margin-right: 15px;
}
.msg-profile.group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
}
.msg-profile.group svg {
  width: 60%;
}

.msg {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.msg:hover {
  background-color: var(--msg-hover-bg);
}
.msg.active1 {
  background: var(--active-conversation-bg);
  border-left: 4px solid var(--theme-color);
  border-radius: 0.4rem;
}
.msg.online:before {
  content: "";
  position: absolute;
  background-color: #23be7e;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid var(--theme-bg-color);
  left: 50px;
  bottom: 19px;
}

.msg-username {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 15px;
}

.msg-detail {
  overflow: hidden;
}

.msg-content {
  font-weight: 500;
  font-size: 13px;
  display: flex;
}

.msg-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--msg-message);
}

.msg-date {
  font-size: 14px;
  color: var(--msg-date);
  margin-left: 3px;
}
.msg-date:before {
  content: "•";
  margin-right: 2px;
}

.fa-pencil {
  margin-right: 0.8rem;
}

.add {
  position: sticky;
  bottom: 25px;
  background-color: var(--theme-color);
  width: auto;
  padding: 0 2.4rem;
  height: 60px;
  border: 0;
  border-radius: 4.8rem;

  font-size: 1.6rem;
  color: var(--white);
  font-weight: 800;

  /* background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3e%3cpath d='M12 5v14M5 12h14'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 28px; */
  box-shadow: 0 0 16px var(--theme-color);
  margin: auto auto -55px;
  flex-shrink: 0;
  z-index: 1;
  cursor: pointer;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  flex-shrink: 0;
  background: var(--overlay-bg);
  height: 80px;
}

.chat-area {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.chat-area-header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background: var(--chat-header-bg);
}

.chat-area-header-first-row,
.chat-area-header-second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
}

.chat-area-header-second-row {
  justify-content: space-evenly !important;
}

.chat-area-header-left-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.chat-area-header-right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
}

.chat-area-profile {
  width: 32px;
  border-radius: 1.2rem;
  object-fit: cover;
}
.chat-area-title {
  font-size: 18px;
  font-weight: 800;
}
.chat-area-main {
  flex-grow: 1;
}

.chat-msg-img {
  height: 40px;
  width: 40px;
  border-radius: 1.6rem;
  object-fit: cover;
}

.chat-msg-profile {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: -20px;
  position: relative;
}

.chat-msg-date {
  position: absolute;
  left: calc(100% + 12px);
  bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--msg-date);
  white-space: nowrap;
}

.chat-msg {
  display: flex;
  padding: 0 20px 45px;
}
.chat-msg-content {
  margin-left: 12px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat-msg-text {
  background-color: var(--chat-text-bg);
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
}
.chat-msg-text + .chat-msg-text {
  margin-top: 10px;
}

.chat-msg-text {
  color: var(--chat-text-color);
}

.owner {
  flex-direction: row-reverse;
}
.owner .chat-msg-content {
  margin-left: 0;
  margin-right: 12px;
  align-items: flex-end;
}
.owner .chat-msg-text {
  background-color: var(--theme-color);
  color: #fff;
  border-radius: 20px 20px 0 20px;
}
.owner .chat-msg-date {
  left: auto;
  right: calc(100% + 12px);
}

.chat-msg-text img {
  max-width: 300px;
  width: 100%;
}

.chat-area-footer {
  display: flex;
  border-top: none;
  width: 100%;
  padding: 0;
  align-items: center;
  background-color: var(--theme-bg-color);
  position: sticky;
  bottom: 0;
  left: 0;
}

.chat-area-footer svg {
  color: var(--settings-icon-color);
  width: 20px;
  flex-shrink: 0;
  cursor: pointer;
}
.chat-area-footer svg:hover {
  color: var(--settings-icon-hover);
}
.chat-area-footer svg + svg {
  margin-left: 12px;
}

.chat-area-footer input {
  border: none;
  color: var(--body-color);
  background-color: var(--input-bg);
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0 12px;
  width: 100%;
}
.chat-area-footer input::placeholder {
  color: var(--input-chat-color);
}

.chat-area-group {
  flex-shrink: 0;
  display: flex;
}
.chat-area-group * {
  border: 2px solid var(--theme-bg-color);
}
.chat-area-group * + * {
  margin-left: -5px;
}
.chat-area-group span {
  width: 32px;
  height: 32px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1120px) {
  .detail-area {
    display: none;
  }
}
@media (max-width: 780px) {
  .wrapper {
    position: relative; /* Biztosítja, hogy a position relatív maradjon a területeken */
    width: 100vw; /* A wrapper teljes szélessége */
    height: 100vh; /* A wrapper teljes magassága */
    overflow: hidden; /* Megakadályozza, hogy bármi kilógjon a látható területből */
  }

  .conversation-area,
  .chat-area {
    position: absolute; /* Az elemek egymásra rétegződnek */
    top: 0;
    left: 0;
    width: 100%; /* Mindkettő a teljes szélességet foglalja el */
    height: 100%; /* Mindkettő a teljes magasságot foglalja el */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Animáció */
  }

  .conversation-area {
    opacity: 1;
    transform: translateX(
      0
    ); /* Alapértelmezésben teljes szélességben látható */
  }

  .conversation-area.hidden {
    opacity: 0;
    transform: translateX(-100%); /* Elcsúsztatjuk a képernyőről balra */
  }

  .chat-area {
    opacity: 0;
    transform: translateX(100%); /* Elcsúsztatjuk a képernyőről jobbra */
  }

  .chat-area.active-chat {
    opacity: 1;
    transform: translateX(
      0
    ); /* Amikor megnyitod, a teljes képernyőn megjelenik */
  }

  .chat-area-header {
    padding: 1.6rem;
  }

  .chat-area-header-first-row,
  .chat-area-header-second-row {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
  }

  .app {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-bg-color);
    max-width: 1600px;
    height: 90vh;
    margin: 0 auto;
    overflow: hidden;

    border-radius: 0;
  }
  main {
    background-color: var(--white);
  }

  .app {
    transition: height 0.3s ease; /* Animáció a magasság változtatásához */
  }

  .phone {
    display: block; /* Alapértelmezett állapotban látható */
  }

  .chat-area.active-chat ~ .app {
    height: 100vh; /* Ha a chat-area aktív, az app teljes magasságú lesz */
  }

  .app.default-height {
    height: 90vh; /* Alapértelmezett magasság */
  }

  .phone.single-event.hidden {
    display: none; /* Ha a chat-area aktív, a phone osztály eltűnik */
  }

  .msg.active1 {
    background: none;
    border-left: none;
    border-radius: 0;
  }
}

.new-close-icon {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
}

.message-phone-icon,
.message-video-icon,
.message-three-dot-icon {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  color: var(--grey);
  border: 2px solid var(--ice-blue);
  background-color: var(--white);
  padding: 1.2rem 4.8rem;
  border-radius: 4.8rem;

  transition: all 0.2s ease-in-out;
}

.message-phone-icon:hover,
.message-video-icon:hover,
.message-three-dot-icon:hover {
  color: var(--white);
  border: 2px solid var(--white);
  background-color: var(--primary);
}

.comment-field-container.messages {
  box-shadow: rgba(99, 99, 99, 0.1) 0px -2px 8px 0px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}

.comment-form.messages {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  height: auto;
  min-height: 2.4rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 3.2rem;
  resize: none;
  font-family: var(--body-font);
  background-color: var(--search-bg);
  overflow: hidden;
  box-sizing: border-box;
}

.comment-form.messages textarea#newCommentText {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 1rem 0.8rem 1.6rem 0rem;
  border: none;
  resize: none;
  font-family: var(--body-font);
  background-color: var(--search-bg);
  overflow: hidden;
  box-sizing: border-box;
}

.comment-form.messages textarea::placeholder {
  font-weight: 700;

  color: var(--grey);
  font-family: var(--body-font);
}

.comment-form.messages button#addFile {
  padding: 0.4rem 0.8rem;
  height: 100%;
  border: none;
  color: var(--primary);
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 1.6rem;
  box-shadow: var(--popular-sh);

  background-color: var(--white);
  border-radius: 50%;
}

.comment-form.messages button#addFile:hover {
  background-color: var(--primary);
  color: var(--white);
}

.profile-img.messages {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1.2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border: none;
  /* margin-left: 22px; */
  cursor: pointer;

  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Safari/Chrome */
}

.comments-list.message {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 0;
  overflow-y: auto;
  max-height: 100%;
  padding: 0 1.6rem;
}

.conversation-area {
  padding: 1.6rem 1.6rem 0 1.6rem;
}

.conversation-area::-webkit-scrollbar {
  width: 0.4vw;
}

.conversation-area::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8rem;
}

.conversation-area::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8rem;
}

.conversation-area::-webkit-scrollbar-track:hover {
  background: var(--grey);
}
