@media (max-width: 1200px) {
  .index-grid-container {
    display: grid;
    grid-template-columns: 60fr 40fr;
    margin: 2rem 0 0 4rem;
    gap: 4rem;
  }
}

@media (max-width: 956px) {
  .sub-menu-wrap-noti {
    position: absolute;
    top: 88%;
    right: 6%;
    width: 32rem;
    max-height: 64vh;
    border-radius: 1.6rem;
    display: none;
    z-index: 9998;
    overflow: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition: all 0.08s;
  }

  .sub-menu-wrap {
    position: absolute;
    top: 88%;
    right: 2%;
    width: 28rem;
    display: none;
    z-index: 0;
    transition: all 0.08s;
  }

  .index-grid-container {
    display: block;
    margin: 4rem;
  }

  .index-right-flex {
    display: none;
  }

  .index-left-flex {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100% !important;
  }

  .stories-container {
    padding: 1.6rem 2.4rem 0rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .stories-line {
    padding: 1.6rem 0;
    margin-left: 0.2rem;
  }

  .nyilak-button {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }

  .popular-container {
    padding: 1.6rem 2.4rem 0rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .popular-line {
    padding: 1.6rem 0;
    margin-left: 0.2rem;
  }

  .popular-card {
    height: 28rem;
    width: 28rem;
    border-radius: 2.4rem;
  }

  .upper-info-container {
    font-size: 1.4rem;
    font-weight: 800;
  }

  .lower-info-container {
    font-size: 1.4rem;
  }

  .upcoming-card {
    height: auto;
    width: 100%;
    gap: 24vh;
  }
}

/* Reszponzív stílusok */
@media screen and (max-width: 693px) {
  body {
    font-family: var(--body-font);
    background-color: white;
  }

  .phone {
    display: none;
  }

  .header {
    display: block;
    flex-direction: column;
    height: auto;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    width: 100%;
  }

  .img-logo-container {
    margin-bottom: 1.6rem;
    display: none;
  }

  .search-bar {
    display: none;
  }

  .search-bar2 {
    display: flex !important;
  }

  .header-right-end {
    display: flex;
    justify-content: space-between; /* Balra igazítás */
    align-items: center; /* Függőleges középre igazítás */
    padding: 1.6rem 0rem 0rem 0;
    gap: 0;
  }

  #head1 {
    order: 3;
  }

  #head2 {
    order: 1;
  }

  #head3 {
    order: 2;
    margin-left: auto; /* Jobb szélhez igazítás */
  }

  .button-body {
    display: none;
  }

  .header-hello-container {
    display: block !important;
  }

  h3.header-hello {
    font-size: 2.8rem;
    letter-spacing: -0.4px;
    font-weight: 800;
  }

  .index-left-flex {
    gap: 1.2rem;
    width: 100% !important;
  }

  .container {
    margin-bottom: 0.4rem;
  }

  .index-grid-container {
    display: block;
    margin: 0 1.6rem 0 1.6rem;
  }

  .stories-container {
    padding: 0.8rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .stories-title {
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: -0.4px;
  }

  .stories-scroll-container {
    overflow-x: hidden;
    padding: 0rem 0rem 0rem 0rem;
    position: relative;
  }

  .nyilak-button {
    display: none;
  }

  .stories-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102%;
    padding: 2.4rem 0 0.8rem 0;
    gap: 3.6rem;
    flex-wrap: nowrap;
  }
  .all-stories-link {
    margin-right: 0.8rem;
  }

  .fa-solid.fa-chevron-right {
    display: none;
  }

  .plus-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--primary);
    border-radius: 50%;
    transform: translate(15%, 0%);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  #story-plus-icon {
    font-weight: 500;
    color: var(--white);
    font-size: 2rem;
  }

  .stories-card {
    position: relative;
    background-color: var(--grey);
    border-radius: 1.6rem;
    height: 4.8rem;
    width: 4.8rem;
    cursor: pointer;
    /* border: var(--primary) solid 2px; */
    position: relative;
    transition: transform 0.3s ease;
  }

  .popular-container {
    padding: 0.8rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .p-l-scroll-container {
    overflow-x: hidden;
    position: relative;
    padding: 0 0rem 0.8rem 0rem;
  }

  .popular-title {
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: -0.4px;
  }

  .popular-line {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2.4rem;
    width: 300%;
    padding: 1.6rem 0.4rem 0rem 0rem;
    flex-wrap: nowrap;
  }

  .all-popular-link {
    display: none;
  }

  .popular-lower-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: var(--white);
    border-radius: 1.6rem;
    padding: 1.6em;
    box-shadow: var(--popular-sh);
  }

  .popular-date {
    border-radius: 1.2rem;
    font-size: 1.6rem;

    width: 4.8rem;
    height: 4.8rem;
  }

  .popular-card {
    padding: 1.2rem !important;
  }

  .upcoming-title {
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: -0.4px;
  }

  a.all-upcoming-link {
    margin-right: 0.8rem;
  }

  .upcoming-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 2.4rem;
    width: 100%;
    padding: 0rem;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .img-logo {
    width: 7rem; /* kisebb logó a kisebb képernyőkön */
  }

  .logo-text {
    font-size: 2.2rem; /* kisebb betűméret mobilon */
  }

  .search-bar {
    padding: 0 2rem; /* csökkentett padding */
    height: 3.6rem; /* kisebb magasság mobilon */
  }

  .search-bar input {
    font-size: 1.4rem; /* kisebb betűméret mobilon */
  }

  .header-profile {
    gap: 1.6rem; /* kisebb gap */
  }

  .notification-number {
    font-size: 8px; /* kisebb számok a jelzőn */
  }

  .popular-line {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1.6rem;
    width: 350%;
    padding: 1.6rem 0.4rem 0rem 0rem;
    flex-wrap: nowrap;
  }
}
