:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --primary-light-darker: #ffd7e1;
  --black: #0e0e0e;
  --pale-grey: #f9faff;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;

  --white: #ffffff;
  --ice-blue: #e5e9fd;

  --linear-gradient-1: linear-gradient(
    to right bottom,
    #455efd,
    #ff5483,
    #f46e4b
  );

  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (min-width: 1600px) {
}

@media (min-width: 693px) {
  .event-card-container {
    width: 100%;
    background-color: var(--white);
    padding: 0.8rem;
    border-radius: 2.4rem;
    height: 100%;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: none;
    overflow: hidden;
    margin: 0 auto;

    max-width: 693px;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
    height: 50vh;
  }

  .slide img,
  .slide video {
    width: 100%;

    border-radius: 2.4rem;
  }

  .slider-container {
    position: relative;
    width: 100%;
    max-width: none;
    margin: auto;
    overflow: hidden;
    border-radius: 2.4rem;
  }

  .event-details {
    flex-direction: column;
    gap: 1.6rem;
    display: flex;
    padding-top: 0px;
    height: 100%;
    background-color: var(--white);
  }

  .event-banner {
    position: relative;
    padding: 2.4rem 2.4rem 1.6rem 2.4rem;
  }

  .dots-container {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, -100%);
    text-align: center;
    margin-top: 10px;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin: 0 8px;
    background-color: var(--grey);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
    box-shadow: var(--popular-sh);
  }

  .organizer-section {
    display: none;
  }

  .event-title {
    margin-top: 16px;
    font-size: 3.2rem;
    font-weight: 800;
  }

  .event-description {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .icon-container {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 1.6rem;
  }

  .fa-clock {
    font-size: 2rem;
  }

  .event-center-info-container {
    display: flex;
    gap: 1.6rem;
  }

  .fa-money-bill {
    font-size: 2rem;
  }

  .event-date-time {
    font-size: 1.6rem;
  }

  .event-about h3 {
    font-size: 20px;
    font-weight: 800;
  }

  .event-about p {
    font-size: 1.6rem;
    margin-top: 5px;
    letter-spacing: 0.1px;
  }

  .event-address h3 {
    font-size: 20px;
    font-weight: 800;
  }

  .event-address p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--grey);
    margin-top: 5px;
    letter-spacing: 0.1px;
  }

  .price-range {
    display: none;
  }
}

@media (max-width: 2000px) {
  .event-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: none;
    overflow: hidden;
    margin: 0 auto;

    max-width: 1693px;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
    height: 48vh;
  }

  .event-pricing {
    justify-content: flex-end;
    padding: 3.2rem;
  }
  .new-event-scroll-container {
    overflow-y: none;
    max-height: 100%;
    padding: 2rem;
  }

  .new-event-form-container {
    height: 100%;
    margin-bottom: 24rem;
  }

  main {
    margin-bottom: 40rem;
  }

  .go-back-icon {
    display: none;
  }

  .edit-profile-icon {
    display: none;
  }
}
@media (max-width: 1200px) {
  .vue-section {
    display: flex;
    height: 56rem;
    width: 32rem;
    margin: auto;
    background-color: var(--black);
  }
  .index-grid-container {
    display: grid;
    grid-template-columns: 60fr 40fr;
    margin: 2rem 0 0 4rem;
    gap: 4rem;
  }

  .event-mini-date::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .story-card-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;
    padding: 0.8rem;

    justify-items: center;
  }
  .story-card-img-container {
    position: relative;
    width: 100%;
    height: 40rem;
    background-size: cover;
    border-radius: 3.2rem;
    overflow: hidden;
  }

  .single-story-card-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .events-container.single-story {
    padding: 0rem 4rem 0 4rem;

    gap: 4rem;
  }

  .grid-2-column {
    display: none;
  }

  .story-card-img-container.single-story {
    width: 32rem;
    height: 56rem;
  }

  .popular-lower-container.single-story {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 3.2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    background-color: var(--white);
    border-radius: 1.6rem;
    padding: 0.8rem 1.6em 0.8rem 1.2rem;
    box-shadow: var(--popular-sh);
  }

  .comments-section-container {
    position: relative;
    transform: translateX(-105%);
    width: 64%;
    height: 56rem;
    max-width: 100%;
    background: var(--white);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
    border-top-right-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    box-shadow: var(--popular-sh);
  }

  .events-container.single-story {
    padding: 0rem 1.6rem 0 1.6rem;
    gap: 2.4rem;
  }

  .story-card-profile-pic.single-story {
    gap: 0.8rem;
  }

  h5.name-text.single-st {
    font-size: 1.6rem;
    text-align: left;
    line-height: 1.1;
  }

  .single-story-post-date {
    font-size: 1rem;
    text-align: left;
    line-height: 1.1;
  }

  .events-first-row {
    gap: 0.8rem !important;
  }
  .single-story-btns {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .like__btn {
    padding: 12px 16px;
    background: var(--white);
    font-size: 16px;
  }

  .comment__btn {
    padding: 12px 16px;
    background: var(--white);
    font-size: 16px;
  }

  .share__btn {
    padding: 12px 16px;
    background: var(--white);
    font-size: 16px;
  }
}

@media (max-width: 996px) {
  .event-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: none;
    overflow: hidden;
    margin: 0 auto;

    max-width: 1693px;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
  }

  .event-pricing {
    justify-content: flex-end;
    padding: 3.2rem;
  }
  .new-event-scroll-container {
    overflow-y: none;
    max-height: 100%;
    padding: 2rem;
  }

  .new-event-form-container {
    height: 100%;
    margin-bottom: 24rem;
  }

  main {
    margin-bottom: 40rem;
  }
}

@media (max-width: 956px) {
  .sub-menu-wrap-noti {
    position: absolute;
    top: 88%;
    right: 6%;
    width: 32rem;
    max-height: 80vh;
    border-radius: 1.6rem;
    display: none;
    z-index: 9998;
    overflow: auto;
    transition: all 0.08s;
    z-index: 999999;
    box-shadow: none;
  }

  .sub-menu {
    box-shadow: rgba(17, 17, 26, 0.2) 0px 12px 10px;
  }

  .sub-menu-noti {
    background: var(--white);
    padding: 1.6rem 2.4rem;
    /* margin: 1.6rem; */
    border-radius: 1.6rem;
  }

  .sub-menu-wrap {
    position: absolute;
    top: 88%;
    right: 2%;
    width: 28rem;
    display: none;
    z-index: 0;
    transition: all 0.08s;
  }

  .index-grid-container {
    display: block;
    margin: 4rem;
  }

  .index-right-flex {
    display: none;
  }

  .index-left-flex {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100% !important;
  }

  .stories-container {
    padding: 1.6rem 2.4rem 0rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .stories-line {
    padding: 1.6rem 0;
    margin-left: 0.2rem;
  }

  .nyilak-button {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }

  .popular-container {
    padding: 1.6rem 2.4rem 0rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .popular-line {
    padding: 1.6rem 0;
    margin-left: 0.2rem;
  }

  .popular-card {
    height: 28rem;
    width: 28rem;
    border-radius: 2.4rem;
  }

  .upper-info-container {
    font-size: 1.4rem;
    font-weight: 800;
  }

  .lower-info-container {
    font-size: 1.4rem;
  }

  .upcoming-card {
    height: auto;
    width: 100%;
    gap: 24vh;
  }

  /* EVENTS OLDAL */

  .events-container {
    padding: 0rem 4rem;
    padding-bottom: 24rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .events-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
  }

  .page-title {
    font-size: 2.8rem;
    font-weight: 800;
  }
  .page-title.stories-t {
    font-size: 2.8rem;
    font-weight: 800;
    margin-left: 1.6rem;
  }

  .location-container {
    gap: 1.6rem;
  }

  .location-name {
    display: flex;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 800;
  }

  .location {
    color: var(--grey);
    font-weight: 700;
    font-size: 1.6rem;
    text-align: right;
  }

  .cat-btns {
    position: absolute;
    top: 50%;
    left: 84%;
    transform: translate(-50%, -50%);
    gap: 2.4rem;
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 11;
  }

  #fa-sliders-cat {
    font-size: 1.6rem;
    background-color: var(--white);
    border-radius: 50%;
    padding: 1.6rem;
    /* box-shadow: rgba(12, 9, 41, 0.24) 0px 48px 100px 0px; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 48px 0px;
    transition: all 0.2s ease-in-out;
  }

  .map-img {
    background-size: 300%;
    background-position: center;
    height: 4.8rem;
    width: 4.8rem;
    border: 2px solid var(--white);
    border-radius: 0.6rem;
  }

  .bp-location {
    font-size: 2rem;
    color: var(--primary);
    transition: all 0.2s ease-in-out;
  }

  .cat-left-arrow {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%);
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 13;
  }

  .event-mini::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .date-title {
    font-size: 2.4rem;
    font-weight: 800;
  }

  .date-cat-btn {
    position: absolute;
    top: 40%;
    left: 92%;
    transform: translate(50%, -50%);
    gap: 6.4rem;
  }

  .cat-left-arrow2 {
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-50%, -50%);
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 13;
  }

  .event-mini-date::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 65%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .story-card-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.4rem;
    padding: 0.8rem;

    justify-items: center;
  }

  .ticket-title {
    font-size: 2rem;
    word-wrap: break-word;
    margin: 0;
  }
  .ticket-info-title {
    font-size: 1.4rem;
  }

  .content p.ticket-date,
  .content p.ticket-time,
  .content p.ticket-seat {
    font-size: 2rem;
  }
}

/* Reszponzív stílusok */
@media screen and (max-width: 693px) {
  body {
    font-family: var(--body-font);
    background-color: white;
  }

  .event-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 1.6rem;

    box-shadow: rgba(99, 99, 99, 0.1) 0px -2px 8px 0px;
  }

  .ticket::before,
  .ticket::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: var(--white);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .phone {
    display: block;
    margin-bottom: 0.8rem;
  }

  .header {
    display: block;
    flex-direction: column;
    height: auto;
    /* padding: 0.8rem 1.6rem 0.8rem 1.6rem; */
    padding: 0;
    width: 100%;
  }

  .img-logo-container {
    margin-bottom: 1.6rem;
    display: none;
  }

  .search-bar {
    display: none;
  }

  .search2-bar {
    display: none;
  }

  /* .search-bar2 {
    display: flex !important;
  } */

  .search-container {
    display: block !important;
  }

  .search2-container {
    display: block !important;
  }

  .header-right-end {
    display: flex;
    justify-content: space-between; /* Balra igazítás */
    align-items: center; /* Függőleges középre igazítás */
    padding: 0.8rem 0rem 0.8rem 0;
    gap: 0;
  }

  .profile-img-container {
    margin-left: 1.6rem;
  }

  .notification-container {
    margin-right: 1.6rem;
  }

  .sub-menu-noti {
    border-radius: 0;
  }

  #head1 {
    order: 3;
  }

  #head2 {
    order: 1;
  }

  #head3 {
    order: 2;
    margin-left: auto; /* Jobb szélhez igazítás */
  }

  #head4 {
    order: 2;
  }

  .button-body {
    display: none;
  }

  .header-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
    margin-top: 1.6rem;
  }

  .notification {
    padding: 0.8rem;
  }

  .sub-menu-wrap-noti {
    top: 64%;
    right: 0%;

    height: 100vh;
    min-width: 100vw;

    box-shadow: none;
  }

  .sub-menu-wrap {
    top: 64%;
    right: 0%;
    width: 100vw;
  }

  .profile-img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 0.8rem;
  }

  .header-hello-container {
    margin-left: 1.6rem;
    margin-bottom: 0.8rem;
    display: block !important;
  }

  h3.header-hello {
    font-size: 2.6rem;
    letter-spacing: -0.4px;
    font-weight: 800;
  }

  .location-container .index-left-flex {
    gap: 1.2rem;
    width: 100% !important;
  }

  .container {
    margin-bottom: 0.4rem;
  }

  .index-grid-container {
    display: block;
    margin: 0;
  }

  .stories-container {
    padding: 0.8rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .stories-title {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: -0.4px;
    margin-left: 1.6rem;
  }

  .stories-scroll-container {
    overflow-x: hidden;
    padding: 0rem 0rem 0rem 0rem;
    position: relative;
  }

  .nyilak-button {
    display: none;
  }

  .stories-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102%;
    padding: 2.4rem 0 1.6rem 0;
    gap: 3.6rem;
    flex-wrap: nowrap;
  }
  .all-stories-link {
    margin-right: 1.6rem;
  }

  .fa-solid.fa-chevron-right {
    display: none;
  }

  .plus-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--primary);
    border-radius: 50%;
    transform: translate(15%, 0%);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin-left: 1.6rem;
  }

  #story-plus-icon {
    font-weight: 500;
    color: var(--white);
    font-size: 2rem;
  }

  .stories-card {
    position: relative;
    background-color: var(--grey);
    border-radius: 1.6rem;
    height: 4.8rem;
    width: 4.8rem;
    cursor: pointer;
    /* border: var(--primary) solid 2px; */
    position: relative;
    transition: transform 0.3s ease;
  }

  .popular-container {
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .p-l-scroll-container {
    overflow-x: hidden;
    position: relative;
    padding: 0 0rem 0.8rem 0rem;

    -webkit-overflow-scrolling: touch;
  }

  .popular-title {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: -0.4px;
    margin-left: 1.6rem;
  }

  .popular-line {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2.4rem;
    width: 300%;
    padding: 1.6rem 0.4rem 0rem 0rem;
    flex-wrap: nowrap;
  }

  .all-popular-link {
    display: none;
  }

  .popular-lower-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: var(--white);
    border-radius: 1.6rem;
    padding: 1.6em;
    box-shadow: var(--popular-sh);
  }

  .popular-date {
    border-radius: 1.2rem;
    font-size: 1.6rem;

    width: 4.8rem;
    height: 4.8rem;
  }

  .popular-card {
    padding: 1.2rem !important;
  }

  .popular-card.first {
    margin-left: 1.6rem;
  }

  .up-c-scroll-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 22;
    padding: 0 0 1.2rem 0;
    gap: 2.4rem;
  }

  .upcoming-section {
    width: auto;
    height: auto;
    /* background-color: var(--white); */
    margin: 0rem auto;
    border-radius: 1.6rem;
    margin: 0 1.6rem 12rem 1.6rem;
  }

  .upcoming-title {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: -0.4px;
  }

  a.all-upcoming-link {
    margin-right: 0.8rem;
  }

  .upcoming-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem;
    flex-wrap: nowrap;
  }

  /* EVENTS OLDAL */

  .events-container {
    padding: 0;
    padding-bottom: 24rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .scroll-container {
    padding: 0;
    border-radius: 0;
    padding: 0;
  }

  .scroll-container2 {
    padding: 1.6rem 0rem 0rem 0rem;
    border-radius: 0rem;
  }

  .event-mini::before {
    display: none;
  }

  .event-mini::after {
    display: none;
  }

  .events-card.first {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--primary);
    padding: 1.6rem 1.6rem 0 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    margin-left: 2.4rem;
  }

  .date-cat-btn {
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(50%, -50%);
    gap: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
  }

  .date-title {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.1;
  }

  .cat-date-line {
    gap: 3.2rem;
    margin: 0.8rem 2.4rem 0 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
  }

  .events-date {
    height: 8.8rem;
    width: 5.6rem;
    /* height: 100vh;
  width: 100%; */
    border-radius: 3.2rem;
    user-select: none; /* Megakadályozza a szöveg kijelölését */

    /* box-shadow: var(--popular-sh); */
  }
  .events-date:hover {
    background-color: var(--pale-grey);
    cursor: pointer;
  }
  .events-date {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: transparent;
    padding: 0rem 1.6rem 0 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.8px;

    transition: all 0.15s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-cat-date {
    font-size: 2.4rem;
  }

  .event-day-text {
    font-size: 1.4rem;
  }

  .date-year-month {
    font-size: 1.6rem;
    color: var(--grey);
    font-weight: 600;
    letter-spacing: -0.4px;
  }

  .event-mini-date {
    padding-bottom: 0rem;
  }

  .event-mini-date::before {
    display: none;
  }
  .events-date.first {
    margin-left: 0.8rem;
  }

  .cat-date-btn {
    gap: 6.4rem;
    margin: 0 2.4rem 0 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
  }

  .event-date-lower-img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    background-color: var(--white);
    padding: 0.8rem 0.8rem 0.4rem 0.8rem;
    border-radius: 2.4rem;
  }

  .event-date-lower-container-outside {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.8rem 0.4rem 0.8rem;
  }

  .upper-img1-container {
    padding: 12rem;
    border-radius: 1.6rem;
    background: url(./img/event-date1.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .upper-img1-1-container {
    padding: 12rem;
    border-radius: 1.6rem;
    background: url(./img/e-d1-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .upper-img1-2-container {
    padding: 12rem;
    border-radius: 1.6rem;
    background: url(./img/e-d1-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .upper-img2-container {
    padding: 12rem;
    border-radius: 1.6rem;
    background: url(./img/event-date2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .upper-img3-container {
    padding: 12rem;
    border-radius: 1.6rem;
    background: url(./img/event-date3.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .upper-img4-container {
    padding: 12rem;
    border-radius: 1.6rem;
    background: url(./img/event-date4.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .phone {
    margin-bottom: 0;
    border-radius: 0;

    height: 4em;
    width: 100%;

    overflow: visible; /* Engedi a tartalom kilógását */
  }

  .phone #map-button {
    display: none;
  }

  .phone-footer {
    position: relative; /* A konténer relatív pozícionálása */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    padding: 0;
    background-color: var(--white);
    margin-top: auto;
  }

  .nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    /* gap: 0.8rem; */
  }

  .button-text-2,
  .button-text-2-unfilled {
    display: none;
  }

  .button-body-2-filled {
    font-family: var(--body-font);
    font-size: 1.6rem;
    line-height: 1.5;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 8rem;
    height: auto;
    width: 100%;
  }

  .button-body-2-filled.black {
    display: none;
  }

  .button-body-2-unfilled {
    font-family: var(--body-font);
    font-size: 1.6rem;
    line-height: 1.5;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
    border-radius: 8rem;
    height: auto;
    width: 100%;
  }

  .phone-nav {
    display: block !important;
  }

  a.bottom-nav-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
  }

  .fa-solid.filled {
    color: var(--primary);
  }

  button.learn-more-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button.learn-more-2-unfilled {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button-body-2-unfilled:hover {
    background-color: var(--pale-grey-2);
    color: var(--white);
    transition: all 0.1s;
  }

  button.learn-more-2-unfilled .circle-2-unfilled {
    height: 100%;
    width: 100%;
  }

  .plus-circle.tr-nav {
    position: absolute; /* Az elem abszolút pozícionálása a konténeren belül */
    top: -2.4rem; /* Felfelé mozdítja az elemet */
    left: 50%; /* Középre igazítja az elemet horizontálisan */
    transform: translateX(-50%) translateY(-50%); /* Középre igazítás és kilógás */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--primary);
    border-radius: 50%;

    cursor: pointer;
    transition: all 0.15s ease-in-out;

    z-index: 9999;

    margin: 0 auto; /* Középre igazítás */
    /* 
    border: 4px solid var(--white);
    box-shadow: var(--popular-sh); */

    box-shadow: 0 0 0 5px var(--white), 0 -5px 10px -6px rgba(0, 0, 0, 0.6);
  }

  .plus-circle.story-circle.tr-nav.bx-sh::before {
    box-shadow: var(--white);
    height: 6rem;
    width: 6rem;
    background-color: var(--white);
  }

  .bx-sh {
    box-shadow: var(--popular-sh);
  }

  .event-phone-size-display-none {
    display: none;
  }

  /* #event-phone-size-display-none {
    display: none;
  }

  #event-phone-size-display-show {
    display: block;
  } */

  .bp-location.event-phone-size-display-show {
    display: block;
    font-size: 2.6rem;
  }

  .location-name.event-phone-size-display-show {
    display: block;
    font-size: 1.4rem;
  }

  .phone-block {
    display: block;
  }

  .page-title.event-phone-size-display-show {
    font-size: 2.4rem;
    display: block;
  }

  .event-phone-icon {
    display: block;
    font-size: 2rem;

    background-color: var(--white);
    border-radius: 50%;
    padding: 0.8rem;
    margin: 0 1.6rem;
  }

  #fa-sliders-cat.no-bx {
    box-shadow: none;
  }

  .cat-btns {
    display: none;
  }

  .event-mini {
    overflow-x: hidden; /* Display horizontal scroll bar */
    background-color: var(--white);
    width: 100%;
  }

  .events-line {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    padding: 1.6rem 1.6rem 1.6rem 0rem;

    flex-wrap: nowrap;
  }

  .events-line.small-gap {
    gap: 0.4rem;
    padding: 1.6rem 1.6rem 2rem 0rem;
  }

  .events-card {
    display: flex;
    width: 16.8rem;
    height: 5.2rem;

    background-color: var(--white);
    flex-shrink: 0; /* Ne zsugorodjon */
    white-space: nowrap; /* Megakadályozza a szöveg törését, ha fontos */
    overflow: hidden; /* Elrejti a szöveget, ha az túlnyúlik */
    text-overflow: ellipsis; /* Három ponttal jelzi, ha túl hosszú a szöveg */
    /* height: 100vh;
    width: 100%; */
    gap: 1.2rem;
    border-radius: 1.6rem;

    box-shadow: var(--popular-sh);

    transition: background-size 0.3s ease;
  }
  .events-card:hover {
    background-size: 110%; /* Increase background size to 120% on hover */
    cursor: pointer;
  }
  .events-card.first {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--primary);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-card.second {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--yellow-cat-bg);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-card.third {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--pink-cat-bg);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-card.fourth {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--blue-cat-bg);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-card.fifth {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--green-cat-bg);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-card.sixth {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--purple-cat-bg);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-card.seventh {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--yellow-cat-bg);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-card.eight {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--green-cat-bg);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-card.ninth {
    /* border: var(--primary) solid 2px; */
    position: relative;
    background-color: var(--pink-cat-bg);
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Adjust the minimum width of cards as needed */
    transition: transform 0.3s ease; /* Smooth transition for card movement */

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  }

  .events-line:hover .first:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .events-line:hover .second:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .events-line:hover .third:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .events-line:hover .fourth:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .events-line:hover .fifth:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .events-line:hover .sixth:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .pop-img {
    width: 100%;
    height: 24rem;
    border-radius: 2.4rem;
  }

  .events-upper-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scroll-container::before {
    left: 0;
  }

  .scroll-container::after {
    right: 0;
  }

  .events-cat-img-1 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: url("./img/myfeed.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;
    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-cat-img-2 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: url("./img/funny.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-cat-img-3 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: url("./img/sports.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-cat-img-4 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: url("./img/fashion.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-cat-img-5 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: url("./img/art.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-cat-img-6 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: url("./img/travel.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-cat-img-7 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: url("./img/music.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-cat-img-8 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-cat-img-9 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: url("./img/gaming.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-align: center;

    width: 3.2rem;
    height: 3.2rem;

    box-shadow: var(--popular-sh);
  }

  .events-lower-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 0.8rem;
    /* padding: 1.6rem 0rem; */
  }

  .event-upper-info-container {
    display: flex;
    justify-content: center;

    font-size: 1.6rem;
    font-weight: 700;
  }

  .h3 {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
  }

  .active {
    color: var(--white);
    font-weight: 700;
  }

  .clicked {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 1px !important;
  }

  .event-date-line {
    padding: 0px 20px 20px 20px;
  }

  .event-mini-date::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 6%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .event-mini-date::after {
    display: none;
  }

  .container-stories-page .card {
    margin: 0 auto;
    margin-top: 0.8rem;
    text-align: center;
  }

  .content {
    margin: 0px auto;
    text-align: left;
    line-height: 20px;
    height: 5000px;
    border-radius: 3.2rem;
    /* box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%); */
    display: block;
    /* padding: 1.25rem; */
    z-index: 2;
    background-color: var(--white);
    position: relative;
    margin-top: 0.8rem;
  }

  /* Történetek oldal */
  .story-card-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
    padding: 0.8rem;

    justify-items: center;
  }

  .content .item {
    padding: 0.8rem;
  }
  .event-center-info-container {
    display: none;
  }

  .cat-date-line,
  .events-line {
    display: flex;
    overflow-x: auto;
    white-space: nowrap; /* A sorban lévő elemek ne törjenek új sorba */
    scroll-behavior: smooth; /* Sima görgetés */
    -webkit-overflow-scrolling: touch; /* Jobb görgetési élmény érintőképernyőn */
  }

  /* Elrejti a görgetősávot, ha nem szükséges */
  .cat-date-line::-webkit-scrollbar,
  .events-line::-webkit-scrollbar {
    display: none;
  }

  .date-cat-btn {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .popup figure figcaption {
    position: absolute;
    top: 0;
    background: none;
    z-index: 2;
    width: 100%;
    height: 100%;

    padding: 1.2rem;
    color: #fff;
    font-family: var(--body-font);
    font-size: 32px;
  }

  .popup.pop figure {
    margin-top: 0;
    opacity: 1;
  }
  .popup figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    max-height: 90%;
    height: 100%;
    width: 100%;
    transform-origin: 0 0;
    margin-top: 30px;
  }

  .popup figure figcaption small {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .img-logo {
    width: 7rem; /* kisebb logó a kisebb képernyőkön */
  }

  .logo-text {
    font-size: 2.2rem; /* kisebb betűméret mobilon */
  }

  .search-bar {
    padding: 0 2rem; /* csökkentett padding */
    height: 3.6rem; /* kisebb magasság mobilon */
  }

  .search2-bar {
    padding: 0 2rem; /* csökkentett padding */
    height: 3.6rem; /* kisebb magasság mobilon */
  }

  .search-bar input {
    font-size: 1.4rem; /* kisebb betűméret mobilon */
  }

  .search2-bar input {
    font-size: 1.4rem; /* kisebb betűméret mobilon */
  }

  .header-profile {
    gap: 1.6rem; /* kisebb gap */
  }

  .notification-number {
    font-size: 8px; /* kisebb számok a jelzőn */
  }

  .popular-line {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1.6rem;
    width: 350%;
    padding: 1.6rem 0.4rem 0rem 0rem;
    flex-wrap: nowrap;
  }

  .search-box:focus {
    width: 200px;
  }

  .event-mini::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .event-mini::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .story-card-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    padding: 0.8rem;

    justify-items: center;
  }
  .story-card-img-container {
    position: relative;
    width: 100%rem;
    height: 28rem;
    background-size: cover;
    border-radius: 3.2rem;
    overflow: hidden;
  }
  .image-border-none .stories-card.st-bigger {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 1.6rem;
  }

  h5.name-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
  }

  .container-stories-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0px 0px;
    text-align: center;
    margin: auto;
  }

  .content .item {
    padding: 0.4rem;
  }

  .ticket-header {
    gap: 0.8rem;
  }

  .ticket-image {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    flex-shrink: 0; /* Ne zsugorodjon */
    min-width: 40px; /* Minimum méret */
    min-height: 40px; /* Minimum méret */
  }

  .ticket-info-container {
    border-top: 2px dashed #dddddd;
    gap: 0.8rem;
    padding-top: 1.2rem;
  }

  .ticket-info {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .ticket-title {
    font-size: 1.6rem;
    word-wrap: break-word;
    margin: 0;
  }

  .ticket-info-title {
    font-size: 1.2rem;
  }

  .content p.ticket-date,
  .content p.ticket-time,
  .content p.ticket-seat {
    font-size: 1.6rem;
  }

  .ticket {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
  }
  .event-details::-webkit-scrollbar {
    width: 0vw;
  }

  .new-event-form-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: 100%;

    margin: 0 auto;
    background-color: #fff;
    border-radius: 0rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }

  .new-close-icon {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
  }

  .new-menu-icon {
    display: block;
    background: none;
    border: none;
    font-size: 20px;
  }
}

@media screen and (max-width: 340px) {
  .search-box:focus {
    width: 150px;
  }

  .cat-btns {
    display: none;
  }

  .event-mini::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .events-first-row {
    gap: 1.2rem;
  }

  .left-flex-location-container {
    display: none;
  }

  .event-mini-date::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 65%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .cat-left-arrow {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 13;
  }

  .events-line {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 0.8rem;
    width: 160%;
    padding: 1.6rem 0rem;
    flex-wrap: nowrap;
  }

  .date-cat-btn {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(50%, 0%);
    gap: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
  }

  .cat-date-btn {
    gap: 0.4rem;
    margin: 0 0rem 0 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
  }

  .cat-left-arrow2 {
    position: absolute;
    top: 70%;
    left: 5%;
    transform: translate(-50%, 0%);
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 13;
  }

  .event-date-line .event-date-card {
    transform: scale(0.9);
  }

  .event-date-line:hover .event-date-card:hover {
    transform: scale(0.95);
    cursor: pointer;
  }
  .story-card-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    gap: 1.6rem;
    padding: 0.8rem;

    justify-items: center;
  }
  .story-card-img-container {
    position: relative;
    width: 100%rem;
    height: 32rem;
    background-size: cover;
    border-radius: 3.2rem;
    overflow: hidden;
  }

  .intercom-emoji-picker {
    width: 295px !important;
    height: 240px !important;
  }

  .intercom-composer-popover2 {
    transform: translateX(50%) !important;
    z-index: 9996;
    position: absolute;
    bottom: 0px;
    right: calc(50%) !important;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    border-radius: 6px;
    transition-duration: 200ms;
    transition-delay: 0ms;
    transform-style: flat;
    transform-origin: 50% 50% 0;
    opacity: 0;
    transition: all 0.2s linear;
    visibility: hidden;
  }
}

@media screen and (max-width: 295px) {
  .sub-menu-wrap-noti {
    top: 60%;
    right: 0%;
    height: 100vh;
    width: 100vw;

    box-shadow: none;
  }

  .user-info {
    display: flex;
    align-items: center;
    border-radius: 1.6rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }

  .user-info img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1.6rem;
    margin-right: 15px;
  }

  .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    padding: 1rem 1.2rem;

    font-size: 1.6rem;
    font-weight: 700;
  }

  .search-box:focus {
    width: 120px;
  }

  .intercom-emoji-picker {
    width: 240px !important;
    height: 200px !important;
  }

  .intercom-composer-popover2 {
    transform: translateX(50%) !important;
    z-index: 9996;
    position: absolute;
    bottom: 0px;
    right: calc(50%) !important;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    border-radius: 6px;
    transition-duration: 200ms;
    transition-delay: 0ms;
    transform-style: flat;
    transform-origin: 50% 50% 0;
    opacity: 0;
    transition: all 0.2s linear;
    visibility: hidden;
  }
}
