<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="general.css" />
    <!-- <link rel="stylesheet" href="floating-nav.css" /> -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="button-body2.css" />
    <link rel="stylesheet" href="stories.css" />
    <link rel="stylesheet" href="popular.css" />
    <link rel="stylesheet" href="right-grid.css" />
    <link rel="stylesheet" href="upcoming.css" />
    <link rel="stylesheet" href="event-date.css" />
    <link rel="stylesheet" href="events.css" />
    <link rel="stylesheet" href="all-stories.css" />
    <link rel="stylesheet" href="single-story.css" />
    <link rel="stylesheet" href="queries.css" />
    <link rel="icon" type="image/x-icon" href="./img/logo.svg" />
    <title>SeeJoy | Eseménykereső</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav class="main-nav">
        <!-- <a href="">
          <img src="" alt="" />
        </a> -->
        <div class="header">
          <div class="img-logo-container">
            <a href="index.html" class="img-logo-container">
              <img src="./img/logo.svg" alt="logo-grafika" class="logo-ill" />
              <div class="logo-text">SeeJoy</div>
              <!-- <img
                src="./img/SeeJoy-logo.png"
                alt="SeeJoy logó"
                class="img-logo"
              /> -->
            </a>
          </div>
          <div class="search-bar">
            <input type="text" placeholder="Keresés" />
          </div>

          <div class="header-right-end">
            <div class="button-body">
              <a href="events.html">
                <button class="learn-more">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"
                      ><i
                        class="fa-solid fa-plus navi"
                        style="color: #ffffff"
                      ></i
                    ></span>
                  </span>
                  <span class="button-text">Új Esemény</span>
                </button>
              </a>
            </div>
            <div class="header-profile" id="head1">
              <!-- search-bar2 IDE -->

              <div
                class="notification-container"
                id="notification-container"
                onclick="toggleMenuNoti()"
              >
                <div class="notification" data-tooltip="Értesítések">
                  <span class="notification-number">2</span>
                  <svg
                    id="bell-icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-bell"
                  >
                    <path
                      d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0"
                    />
                  </svg>
                </div>
              </div>
              <div class="sub-menu-wrap-noti" id="subMenuNoti">
                <div class="sub-menu-noti">
                  <div class="stories-title">Értesítések</div>

                  <div class="noti-tabs-flex">
                    <div class="flex-row">
                      <a href="#">
                        <div class="popular-price" id="noti-tabs">Összes</div>
                      </a>
                      <a href="">
                        <div class="popular-price noti-not" id="noti-tabs-not">
                          Olvasatlan
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="stories-first-row" id="stories-first-row-noti">
                    <h1 class="stories-title" id="stories-title-noti">
                      Legutóbbiak
                    </h1>
                    <a
                      href="#"
                      class="all-stories-link"
                      id="all-stories-link-noti"
                      >Összes<i
                        class="fa-solid fa-chevron-right"
                        id="fa-chevron-right-noti"
                      ></i>
                    </a>
                  </div>
                  <div class="noti-list-container">
                    <div class="user-info-noti">
                      <div class="left-flex-noti-container">
                        <div class="new-noti-circle"></div>
                        <img
                          src="./img/story14.webp"
                          alt="felhasználó profilképe"
                          class="profile-img"
                          id="noti-img"
                        />
                      </div>

                      <div class="right-felx-noti-container">
                        <div class="text-info-noti">
                          <span class="noti-name">Szabó Lilla</span> meghívott
                          téged erre az eseményre:
                          <a href="#"
                            ><span class="noti-event-name"
                              >Bulihajó Szilveszter</span
                            ></a
                          >
                        </div>
                        <div class="time-noti">26 perccel ezelőtt</div>
                      </div>
                    </div>

                    <div class="user-info-noti">
                      <div class="left-flex-noti-container">
                        <div class="new-noti-circle"></div>
                        <img
                          src="./img/story5.webp"
                          alt="felhasználó profilképe"
                          class="profile-img"
                          id="noti-img"
                        />
                      </div>

                      <div class="right-felx-noti-container">
                        <div class="text-info-noti">
                          <span class="noti-name">Kiss Nóra</span> megjelölt
                          ennél az eseménynél:
                          <a href="#"
                            ><span class="noti-event-name"
                              >Hogyan legyünk jobb barátok?</span
                            ></a
                          >
                        </div>
                        <div class="time-noti">57 perccel ezelőtt</div>
                      </div>
                    </div>

                    <div class="user-info-noti-read">
                      <div class="left-flex-noti-container">
                        <div class="new-noti-circle read-circle"></div>
                        <img
                          src="./img/story12.webp"
                          alt="felhasználó profilképe"
                          class="profile-img"
                          id="noti-img"
                        />
                      </div>

                      <div class="right-felx-noti-container">
                        <div class="text-info-noti">
                          <span class="noti-name">David Aarons</span> megjelölt
                          ennél az eseménynél:
                          <a href="#"
                            ><span class="noti-event-name"
                              >International Marketing Budapest 2023</span
                            ></a
                          >
                        </div>
                        <div class="time-noti read">1 órával ezelőtt</div>
                      </div>
                    </div>

                    <div class="user-info-noti-read">
                      <div class="left-flex-noti-container">
                        <div class="new-noti-circle read-circle"></div>
                        <img
                          src="./img/story1.webp"
                          alt="felhasználó profilképe"
                          class="profile-img"
                          id="noti-img"
                        />
                      </div>

                      <div class="right-felx-noti-container">
                        <div class="text-info-noti">
                          <span class="noti-name">Kovács Anna</span> felvette
                          ezt eseményei közé:
                          <a href="#"
                            ><span class="noti-event-name"
                              >Foci EB 2024: Magyarország - Spanyolország
                              16:00</span
                            ></a
                          >
                        </div>
                        <div class="time-noti read">4 órával ezelőtt</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-profile" id="head3">
              <form
                class="search-container"
                action="text"
                style="display: none"
              >
                <input
                  id="search-box"
                  type="search"
                  class="search-box"
                  name="q"
                />
                <label for="search-box">
                  <i class="fa-solid fa-magnifying-glass search-icon"></i
                ></label>
                <input type="submit" id="search-submit" />
              </form>
              <!-- <form action="" class="search-bar2" style="display: none;" >
              <input type="search" name="search" pattern=".*\S.*" required>
              <button class="search-btn" type="submit">
                <span>Search</span>
              </button>
            </form> -->
            </div>
            <div class="header-profile" id="head2">
              <div class="profile-img-container" data-tooltip="Fiók">
                <img
                  src="https://images.unsplash.com/photo-1600353068440-6361ef3a86e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                  class="profile-img"
                  onclick="toggleMenu()"
                  data-tooltip="Fiók"
                />
              </div>

              <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                  <div class="user-info">
                    <img
                      src="https://images.unsplash.com/photo-1600353068440-6361ef3a86e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                      alt="felhasználó profilképe"
                      class="profile-img"
                      id="profile-img"
                    />
                    <h2>Szabó Lilla</h2>
                  </div>

                  <a href="#" class="sub-menu-link">
                    <img src="img/profile.png" alt="" />
                    <p>Profil Szerkesztése</p>
                    <span><i class="fa-solid fa-chevron-right"></i></span>
                  </a>

                  <a href="#" class="sub-menu-link">
                    <img src="img/setting.png" alt="" />
                    <p>Beállítások</p>
                    <span><i class="fa-solid fa-chevron-right"></i></span>
                  </a>

                  <a href="" class="sub-menu-link">
                    <img src="img/help.png" alt="" />
                    <p>Súgó & Támogatás</p>
                    <span><i class="fa-solid fa-chevron-right"></i></span>
                  </a>

                  <a href="" class="sub-menu-link">
                    <img src="img/logout.png" alt="" />
                    <p>Kijelentkezés</p>
                    <span><i class="fa-solid fa-chevron-right"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="header-hello-container" style="display: none">
            <h3 class="header-hello" style="color: #ffffff">Helló, Lilla!</h3>
          </div>
        </div>
      </nav>

      <!-- <button class="main-mobile-nav"></button> -->
    </header>

    <main>
      <div class="container">
        <div class="phone">
          <div class="phone-footer">
            <div class="nav">
              <div class="button-body-2-filled">
                <a href="index.html" class="bottom-nav-link">
                  <button class="learn-more-2">
                    <span class="circle-2" aria-hidden="true">
                      <span class="icon-2 arrow-2"
                        ><i class="fa-solid fa-home filled"></i
                      ></span>
                    </span>
                    <div class="button-text-2">Kezdőlap</div>
                  </button>
                </a>
              </div>
              <div class="button-body-2-unfilled">
                <a href="events.html" class="bottom-nav-link">
                  <button class="learn-more-2-unfilled">
                    <span class="circle-2-unfilled" aria-hidden="true">
                      <span class="icon-2-unfilled arrow-2-unfilled"
                        ><i class="fa-regular fa-calendar"></i
                      ></span>
                    </span>
                    <div class="button-text-2-unfilled">Események</div>
                  </button>
                </a>
              </div>
              <div
                class="button-body-2-unfilled phone-nav"
                style="display: none"
              >
                <a href="events.html" class="bottom-nav-link">
                  <button class="learn-more-2-unfilled">
                    <span class="circle-2-unfilled" aria-hidden="true">
                      <span class="icon-2-unfilled arrow-2-unfilled"
                        ><div class="plus-circle story-circle tr-nav bx-sh">
                          <i
                            class="fa-regular fa-plus stories"
                            id="story-plus-icon"
                          ></i></div
                      ></span>
                    </span>
                    <div class="button-text-2-unfilled">Új Esemény</div>
                  </button>
                </a>
              </div>
              <div class="button-body-2-unfilled">
                <a href="events.html" class="bottom-nav-link">
                  <button class="learn-more-2-unfilled">
                    <span class="circle-2-unfilled" aria-hidden="true">
                      <span class="icon-2-unfilled arrow-2-unfilled">
                        <i class="fa-regular fa-credit-card"></i>
                      </span>
                    </span>
                    <div class="button-text-2-unfilled">Jegyek</div>
                  </button>
                </a>
              </div>
              <div class="button-body-2-unfilled">
                <a href="events.html" class="bottom-nav-link">
                  <button class="learn-more-2-unfilled">
                    <span class="circle-2-unfilled" aria-hidden="true">
                      <span class="icon-2-unfilled arrow-2-unfilled"
                        ><i class="fa-regular fa-message"></i
                      ></span>
                    </span>
                    <div class="button-text-2-unfilled">Üzenetek</div>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="events-section">
        <div class="events-container single-story">
          <div class="single-story-card-container">
            <div class="flex-container-single-story">
              <div class="events-first-row single-story phone-block">
                <div class="story-profile-img-container single-story">
                  <!-- Inner link -->
                  <a href="index.html" class="story-profile-link">
                    <div class="story-card-profile-pic single-story">
                      <div class="image-border-none">
                        <div class="stories-card story1"></div>
                      </div>
                      <div class="story-profile-text-container">
                        <h5 class="name-text single-st">Fodor Anna</h5>
                        <p class="single-story-post-date">16 órával ezelőtt</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="single-story-btns">
                  <div class="like-btn-container">
                    <button class="like__btn">
                      <span id="like-icon"
                        ><i class="fa-regular fa-heart"></i
                      ></span>
                      <span id="like-count">0</span> Kedvelés
                    </button>
                  </div>
                  <div class="comment-btn-container">
                    <button class="comment__btn" id="openComments">
                      <span id="comment-icon"
                        ><i class="fa-regular fa-comment"></i
                      ></span>
                      <span id="comment-count">0</span> Komment
                    </button>
                  </div>
                  <div class="share-btn-container">
                    <button class="share__btn">
                      <span id="share-icon"
                        ><i
                          class="fa-solid fa-share"
                          style="color: var(--black)"
                        ></i
                      ></span>
                      <span id="share-count">0</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="sigle-story-contaner-comments">
                <div class="story-card-img-container single-story">
                  <div id="vue-component">
                    <div class="vue-nav">
                      <div
                        v-for="(media, index) in mediaList"
                        :key="index"
                        class="nav-item-single-story"
                      >
                        <div class="nav-progress"></div>
                      </div>
                    </div>
                    <div
                      v-for="(media, index) in mediaList"
                      :key="index"
                      v-if="current == index"
                      class="vue-section"
                    >
                      <img
                        v-if="media.type === 'image'"
                        :src="media.url"
                        alt=""
                      />
                      <video
                        v-if="media.type === 'video'"
                        :src="media.url"
                        autoplay
                        muted
                        loop
                      ></video>
                    </div>
                  </div>
                  <a href="events.html">
                    <div class="popular-lower-container single-story">
                      <div class="upper-info-container">
                        <div class="popular-hour">2024 Aug 30 - 16:00</div>
                        <h3 class="h3">
                          Izgalmas 30 perces hőlégballon utazás
                        </h3>
                      </div>
                      <div class="lower-info-container">
                        <div class="my-event-lower-info-container">
                          <div class="my-event-line" id="stories-line">
                            <div class="story-container">
                              <div
                                class="my-event-card-medium my-event2-7"
                              ></div>
                            </div>
                            <div class="story-container">
                              <div
                                class="my-event-card-medium my-event2-3"
                              ></div>
                            </div>
                            <div class="story-container">
                              <div class="my-event-card-medium my-event3">
                                <span id="my-event-plus-number-medium">+9</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="popular-price">15000 Ft</div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Komment szekció -->
                <div id="commentsSection" class="comments-section-container">
                  <div class="comments-header">
                    <h2>Kommentek</h2>
                    <button id="closeComments" class="close-comments-btn">
                      &times;
                    </button>
                  </div>
                  <div class="comments-list">
                    <!-- Kommentek ide kerülnek -->
                  </div>
                  <div class="comment-form">
                    <textarea
                      id="newCommentText"
                      placeholder="Írj megjegyzést..."
                    ></textarea>
                    <button id="postComment">Komment</button>
                  </div>
                </div>

                <!-- Szerkesztés modális ablak -->
                <div id="editCommentModal" class="modal">
                  <div class="modal-content">
                    <div class="edit-line">
                      <span class="close-edit-modal">&times;</span>
                      <h2>Szerkesztés</h2>
                    </div>
                    <textarea
                      id="editCommentText"
                      rows="4"
                      cols="50"
                    ></textarea>
                    <button id="saveEditComment">Mentés</button>
                  </div>
                </div>

                <!-- Törlés megerősítő modális ablak -->
                <div id="deleteCommentModal" class="modal">
                  <div class="modal-content">
                    <div>
                      <span class="close-delete-modal">&times;</span>
                      <h2>Komment törlése</h2>
                    </div>
                    <p>Biztos, hogy törölni szeretnéd ezt a kommentet?</p>
                    <div class="delete-or-not">
                      <button id="cancelDeleteComment">Mégse</button>
                      <button id="confirmDeleteComment">Törlés</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-2-column">
              <div></div>
              <div class="index-right-flex single-story">
                <div class="premium-container">
                  <div class="premium-img-container">
                    <div class="title-premium">Irány a Prémium!</div>
                    <div class="description-premium">
                      Próbáld ki a prémiumot és élvezd egy teljesen új közösség
                      élményét.
                    </div>

                    <a href="#" class="premium-btn-link"
                      ><div class="premium-btn">
                        Fizess elő
                        <i
                          class="fa-solid fa-chevron-right premium-btn-icon"
                        ></i></div
                    ></a>
                  </div>
                </div>
                <div class="my-events-container">
                  <div class="my-events-first-row">
                    <h1 class="stories-title">Eseményeim</h1>
                    <a href="#" class="all-stories-link"
                      >Összes<i class="fa-solid fa-chevron-right"></i>
                    </a>
                  </div>
                  <div class="my-events-flex-container">
                    <div class="my-event-line" id="popular-line">
                      <div class="my-event-card first single-story" id="card1">
                        <div class="my-event-upper-container">
                          <div class="my-upcoming">
                            <div class="my-event-number">01</div>
                            <div class="my-event-month">Jan</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="my-event-right-container">
                      <div class="my-event-upper-info-container">
                        <a href="#" class="my-event-link">
                          <h3 class="h3">Új Év: Beöltözős Marvel Parti</h3></a
                        >
                      </div>
                      <div class="my-event-lower-info-container">
                        <a href="#">
                          <div class="my-event-line" id="stories-line">
                            <div class="story-container">
                              <div class="my-event-card-little my-event1"></div>
                            </div>
                            <div class="story-container">
                              <div class="my-event-card-little my-event2"></div>
                            </div>
                            <div class="story-container">
                              <div class="my-event-card-little my-event3">
                                <span id="my-event-plus-number">+10</span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="my-events-flex-container">
                    <div class="my-event-line" id="popular-line">
                      <div class="my-event-card second" id="card1">
                        <div class="my-event-upper-container">
                          <div class="my-upcoming">
                            <div class="my-event-number">07</div>
                            <div class="my-event-month">Jan</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="my-event-right-container">
                      <div class="my-event-upper-info-container">
                        <a href="#" class="my-event-link"
                          ><h3 class="h3">Autós Show: 2024 Budapest</h3></a
                        >
                      </div>
                      <div class="my-event-lower-info-container">
                        <a href="#">
                          <div class="my-event-line" id="stories-line">
                            <div class="story-container">
                              <div
                                class="my-event-card-little my-event2-1"
                              ></div>
                            </div>
                            <div class="story-container">
                              <div
                                class="my-event-card-little my-event2-2"
                              ></div>
                            </div>
                            <div class="story-container">
                              <div class="my-event-card-little my-event3">
                                <span id="my-event-plus-number">+26</span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-category-container">
                  <div class="my-category-first-row">
                    <h1 class="stories-title">Kategóriáim</h1>
                    <a href="#" class="all-stories-link"
                      >Összes<i class="fa-solid fa-chevron-right"></i>
                    </a>
                  </div>
                  <div class="my-category-flex-container">
                    <div class="my-category-line" id="popular-line">
                      <div
                        class="my-category-card first single-story"
                        id="card1"
                      >
                        <div class="my-category-upper-container"></div>
                      </div>
                      <div class="my-category-upper-info-container">
                        <a href="#" class="my-category-link">
                          <h3 class="h3">Étel</h3></a
                        >
                      </div>
                    </div>
                    <div class="my-category-right-container">
                      <div class="my-category-lower-info-container">
                        <a href="#">
                          <div class="my-category-line" id="stories-line">
                            <div class="story-container">
                              <div class="my-category-card-little my-category3">
                                <span id="my-category-checked"
                                  ><i class="fa-solid fa-check"></i
                                ></span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="my-category-flex-container">
                    <div class="my-category-line" id="popular-line">
                      <div class="my-category-card second" id="card1">
                        <div class="my-category-upper-container"></div>
                      </div>
                      <div class="my-category-upper-info-container">
                        <a href="#" class="my-category-link">
                          <h3 class="h3">Gaming</h3></a
                        >
                      </div>
                    </div>
                    <div class="my-category-right-container">
                      <div class="my-category-lower-info-container">
                        <a href="#">
                          <div class="my-category-line" id="stories-line">
                            <div class="story-container">
                              <div class="my-category-card-little my-category3">
                                <span id="my-category-checked"
                                  ><i class="fa-solid fa-check"></i
                                ></span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
    <script src="event-cat.js"></script>
    <script src="search-bar2.js"></script>
    <script src="script.js"></script>
    <script src="popular.js"></script>
    <script src="stories.js"></script>
    <script src="heart.js"></script>
    <script src="single-story.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="vue-script.js"></script>
  </body>
</html>
