:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --primary-light-darker: #ffd7e1;
  --black: #0e0e0e;
  --pale-grey: #f9faff;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;

  --white: #ffffff;
  --ice-blue: #e5e9fd;

  --linear-gradient-1: linear-gradient(
    to right bottom,
    #455efd,
    #ff5483,
    #f46e4b
  );

  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@import url("https://use.typekit.net/ovt6ynt.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: default;

  overflow: auto;
}

body {
  font-family: var(--body-font);
  background-color: var(--pale-grey);
}

main {
  height: 100%;
  width: 100%;
}

.events-container.single-story {
  padding: 0rem 0 0 8rem;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 4.8rem;
}

h5.name-text.single-st {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

.events-first-row.single-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-story-card-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  padding: 0;
  margin-bottom: 20rem;

  justify-items: center;
}

.story-profile-img-container.single-story {
  display: flex;
  flex-direction: row;
  position: static; /* Felülírja a .story-profile-img-container pozicionálást */
  bottom: auto; /* Ha szükséges, állítsd vissza az alapértelmezett értékeket */
  left: auto;
  transform: none;
  z-index: auto; /* Ha szükséges, állítsd vissza az alapértelmezett értékeket */
}
.story-card-img-container.single-story {
  position: relative;
  width: 48rem;
  height: 72rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: var(--black);

  align-self: center;
}

/* Add the transparent black overlay */
.story-card-img-container::before {
  display: none;
}

.popular-lower-container.single-story {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(
    100% - 3.2rem
  ); /* 100% szélesség, de a padding miatt csökkentve */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--white);
  border-radius: 1.6rem;
  padding: 1.2rem 2.4em 1.2rem 2.4rem;
  box-shadow: var(--popular-sh);
}

.story-card-profile-pic.single-story {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;

  transition: all 0.35s cubic-bezier(0.65, 0, 0.076, 1);
}

.single-story-post-date {
  font-family: var(--body-font);
  font-size: 1.2rem;
  text-align: left;
  font-weight: 600;
  color: var(--grey);
}

.single-story-btns {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.like-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.like__btn {
  padding: 12px 16px;
  background: var(--white);
  font-size: 18px;
  font-family: var(--body-font);
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}
.comment-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment__btn {
  padding: 12px 16px;
  background: var(--white);
  font-size: 18px;
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.share-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.share__btn {
  padding: 12px 16px;
  background: var(--white);
  font-size: 18px;
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.vue-component {
  position: relative;
}

/* Navigációs sáv stílusai */
.vue-nav {
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column-gap: 1.6rem;
  grid-template-columns: repeat(3, 1fr);
  height: 0.8rem;
  padding: 0 1.6rem;
  position: absolute;
  top: 2.4rem;
  width: 100%;
}

.nav-item-single-story {
  position: relative;
  width: 100%; /* Állítsd be az igényed szerint */
  height: 4px; /* Állítsd be az igényed szerint */
  margin: 0 1.6rem;
  background-color: #555; /* Példa háttérszín, módosítsd az igényeid szerint */
  border-radius: 0.8rem; /* Kerekített sarkok, opcionális */
}

.nav-progress {
  width: 0;
  height: 100%;
  background: var(--white);

  border-radius: 0.8rem;
}

/* Média szekciók stílusai */
.vue-section {
  display: flex;
  height: 72rem;
  width: 48rem;
  margin: auto;
  background-color: var(--black);
}

.vue-section img,
.vue-section video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}

.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.index-right-flex.single-story {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1.6rem 0rem 0rem 1.6rem;
  height: max-content;
  width: 100%;
}

.my-event-card.first.single-story {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url(./img/myevents1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  margin-left: 0;
}

.my-category-card.first.single-story {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url(./img/mycategory1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  margin-left: 0;
}

.flex-container-single-story {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
}

/* Meglévő gomb stílusok */
.comment-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment__btn {
  padding: 12px 16px;
  background: var(--white);
  font-size: 18px;
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

/* Komment Szekció Stílusok */
/* A konténer stílusa */
.sigle-story-contaner-comments {
  display: flex;
  justify-content: center; /* Balra igazítás */
  align-items: center; /* Fent kezdődjenek a gyermekelemek */
  position: relative;
  z-index: 1;
}

/* Komment Szekció Stílusok */
.comments-section-container {
  position: relative; /* Flexbox konténeren belül marad */
  transform: translateX(-105%); /* Aktív állapotban a helyén marad */
  width: 400px;
  height: 72rem; /* Magasság igazodjon a szülőelemhez */
  max-width: 100%;
  background: var(--white);
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: -1;

  padding: 0.8rem 1.6rem 0.8rem 4.8rem;
  border-top-right-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;

  box-shadow: var(--popular-sh);
  display: none;

  transition: all 0.3s ease-in-out;
}

.comments-section-container.active {
  transform: translateX(-5%); /* Aktív állapotban a helyén marad */
  display: block;
}

.comments-section-container.active::-webkit-scrollbar {
  width: 0.6vw;
}

.comments-section-container.active::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8rem;
}

.comments-section-container.active::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8rem;
}

.comments-section-container.active::-webkit-scrollbar-track:hover {
  background: var(--grey);
}

.comments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  color: var(--black);
  font-family: var(--body-font);
  font-size: 1.6rem;
}

.close-comments-btn {
  font-size: 24px;
  color: var(--black);
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 50%;
}

.close-comments-btn:hover {
  background-color: var(--pale-grey);
}

.comment-form textarea {
  width: 100%;
  height: 80px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  font-family: var(--body-font);
}

.comment-form button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: var(--black);
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.comment-avatar {
  border-radius: 50%;
}

.comment-author {
  font-size: 1.6rem;
  color: var(--black);
}

.comment-text {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 500;
}

.comment {
  display: flex;
  justify-content: space-between;
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}
