:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --primary-light-darker: #ffd7e1;
  --black: #0e0e0e;
  --pale-grey: #f9faff;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;

  --white: #ffffff;
  --ice-blue: #e5e9fd;

  --linear-gradient-1: linear-gradient(
    to right bottom,
    #455efd,
    #ff5483,
    #f46e4b
  );

  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@import url("https://use.typekit.net/ovt6ynt.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: default;

  overflow: auto;
}

body {
  font-family: var(--body-font);
  background-color: var(--pale-grey);
}

main {
  height: 100%;
  width: 100%;
}

.events-container.single-story {
  padding: 0rem 0 0 11.2rem;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 4.8rem;
}

h5.name-text.single-st {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

.events-first-row.single-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-story-card-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  padding: 0;
  margin-bottom: 20rem;

  justify-items: center;
}

.story-profile-img-container.single-story {
  display: flex;
  flex-direction: row;
  position: static; /* Felülírja a .story-profile-img-container pozicionálást */
  bottom: auto; /* Ha szükséges, állítsd vissza az alapértelmezett értékeket */
  left: auto;
  transform: none;
  z-index: auto; /* Ha szükséges, állítsd vissza az alapértelmezett értékeket */
}
.story-card-img-container.single-story {
  position: relative;
  width: 48rem;
  height: 72rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: var(--black);
}

/* Add the transparent black overlay */
.story-card-img-container::before {
  display: none;
}

.popular-lower-container.single-story {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(
    100% - 3.2rem
  ); /* 100% szélesség, de a padding miatt csökkentve */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--white);
  border-radius: 1.6rem;
  box-shadow: var(--popular-sh);
}

.story-card-profile-pic.single-story {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;

  transition: all 0.35s cubic-bezier(0.65, 0, 0.076, 1);
}

.single-story-post-date {
  font-family: var(--body-font);
  font-size: 1.2rem;
  text-align: left;
  font-weight: 600;
  color: var(--grey);
}

.single-story-btns {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.like-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.like__btn {
  padding: 12px 16px;
  background: var(--white);
  font-size: 18px;
  font-family: var(--body-font);
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.answer__btn {
  padding: 12px 16px;
  background: var(--white);
  font-size: 18px;
  font-family: var(--body-font);
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.comment-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment__btn {
  padding: 12px 16px;
  background: var(--white);
  font-size: 18px;
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.share-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.share__btn {
  padding: 12px 16px;
  background: var(--white);
  font-size: 18px;
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.vue-component {
  position: relative;
}

/* Navigációs sáv stílusai */
/* .vue-nav {
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column-gap: 0.8rem;
  grid-template-columns: repeat(3, 1fr);
  height: 0.8rem;
  padding: 0 1.6rem;
  position: absolute;
  top: 2.4rem;
  width: 100%;
} */

.vue-nav {
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  align-items: center;

  height: 0.8rem;
  padding: 0 1.6rem;
  position: absolute;
  top: 2.4rem;
  width: 100%;
}

.nav-item-single-story {
  position: relative;
  width: 100%; /* Állítsd be az igényed szerint */
  height: 4px; /* Állítsd be az igényed szerint */
  margin: 0 0.4rem;
  background-color: #555; /* Példa háttérszín, módosítsd az igényeid szerint */
  border-radius: 0.8rem; /* Kerekített sarkok, opcionális */
}

.nav-progress {
  width: 0;
  height: 100%;
  background: var(--white);

  border-radius: 0.8rem;
}

/* Média szekciók stílusai */
.vue-section {
  display: flex;
  height: 72rem;
  width: 48rem;
  margin: auto;
  background-color: var(--black);
}

.vue-section img,
.vue-section video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}

.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.index-right-flex.single-story {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1.6rem 0rem 0rem 1.6rem;
  height: max-content;
  width: 100%;
}

.my-event-card.first.single-story {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url(./img/myevents1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  margin-left: 0;
}

.my-category-card.firstish.single-story {
  /* border: var(--primary) solid 2px; */
  position: relative;
  background: url(./img/mycategory1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  margin-left: 0;
}

.flex-container-single-story {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
  height: auto;
}

/* Meglévő gomb stílusok */
.comment-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Komment Szekció Stílusok */
/* A konténer stílusa */
.sigle-story-contaner-comments {
  display: flex;
  /* justify-content: center; Balra igazítás */
  align-items: flex-start; /* Fent kezdődjenek a gyermekelemek */
  /* position: relative; */
  z-index: 1;
  justify-content: center;

  height: 100%;
}

/* Komment Szekció Stílusok */
.comments-section-container {
  transform: translateX(-105%);
  width: 48rem;
  height: 72rem;
  max-width: 100%;
  background: var(--white);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: -1;
  padding: 0.8rem 0rem 0rem 0rem;
  border-top-right-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  box-shadow: var(--popular-sh);
  display: none;
  opacity: 0;
}

.comments-section-container.active {
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-3%);
  opacity: 1;
}

/* .comments-section-container {
  transform: translateX(-105%);
  width: 48rem;
  height: 72rem;
  max-width: 100%;
  background: var(--white);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: -1;
  opacity: 0;
  padding: 0.8rem 0rem 0rem 0rem;
  border-top-right-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  box-shadow: var(--popular-sh);
  pointer-events: none;
}

.comments-section-container.active {
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0%);
  opacity: 1;
  z-index: 1000;
  pointer-events: all;
} */

.comments-list {
  padding: 1.6rem 1.6rem 1.6rem 3.2rem;
}

.comments-list::-webkit-scrollbar {
  width: 0.4vw;
}

.comments-list::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8rem;
}

.comments-list::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8rem;
}

.comments-list::-webkit-scrollbar-track:hover {
  background: var(--grey);
}

.intercom-composer-popover-body::-webkit-scrollbar {
  width: 0.4vw;
}

.intercom-composer-popover-body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8rem;
}

.intercom-composer-popover-body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8rem;
}

.intercom-composer-popover-body::-webkit-scrollbar-track:hover {
  background: var(--grey);
}

.comments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.6rem 1.6rem 3.2rem;
  color: var(--black);
  font-family: var(--body-font);
  font-size: 1.6rem;
}

.comments-title {
}
.flex-separation {
  overflow-y: hidden;
}

.close-comments-btn {
  font-size: 24px;
  color: var(--black);
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 50%;
  z-index: 999;
}

.close-comments-btn:hover {
  background-color: var(--pale-grey);
}

.comment-field-container {
  box-shadow: rgba(99, 99, 99, 0.1) 0px -2px 8px 0px;
  padding: 1.6rem 1.6rem 1.6rem 3.2rem;
}

.comment-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  height: auto; /* Dinamikus magasság */
  min-height: 40px; /* Minimális magasság */
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 3.2rem;
  resize: none; /* Lehetővé teszi a dinamikus magasság növekedést */
  font-family: var(--body-font);
  background-color: var(--search-bg);
  overflow: hidden; /* Elrejti a scroll-t */
  box-sizing: border-box; /* Padding és border magassága beleértve */
}

.comment-form textarea#newCommentText {
  width: 100%;
  height: auto; /* Dinamikus magasság */
  min-height: 40px; /* Minimális magasság */
  padding: 1rem 0.8rem 1.6rem 1.6rem;
  border: none;
  resize: none; /* Lehetővé teszi a dinamikus magasság növekedést */
  font-family: var(--body-font);
  background-color: var(--search-bg);
  overflow: hidden; /* Elrejti a scroll-t */
  box-sizing: border-box; /* Padding és border magassága beleértve */
}

.comment-form textarea#newCommentText:focus {
  outline: none;
}

.comment-form textarea::placeholder {
  font-weight: 600;
  color: var(--grey);
  font-family: var(--body-font);
}

.comment-form button#postComment {
  padding: 0.4rem 0.8rem;
  border: none;
  color: var(--primary);
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-right: 1.2rem;
}

.comment-form button#postComment:hover {
  border-radius: 50%;
  background-color: var(--white);
}

.comment-form button#newEmoji {
  padding: 0.4rem 0.8rem;
  border: none;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.comment-form button#newEmoji:hover {
  border-radius: 50%;
  background-color: var(--white);
}

.comment-header-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-header-column-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-header-column-row-message {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}

.comment-time {
  font-size: 1.2rem;
  color: var(--grey);
}

.comment-header-img-username {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  overflow-y: auto; /* Görgethető a kommentek listája */
  max-height: calc(
    100% - 80px
  ); /* Magasság korlátozása a fejléc és a beviteli mező között */
}

.comment-avatar {
  align-self: start;
  border-radius: 1.2rem;
}

.comment-author {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 800;
}

.comment-author.answer-line {
  font-size: 1.4rem;
  color: var(--black);
  font-weight: 700;
}

.comment-text {
  position: relative;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 600;
  width: 100%; /* A teljes szélességet lefedi */
  word-wrap: break-word; /* Törés a szavak közepén, ha szükséges */
  overflow-wrap: break-word; /* Alternatív megoldás a szavak törésére */
  line-height: 1.25;
  letter-spacing: -0.2px;
}

.comment-st-ph {
  /* display: flex;
  justify-content: space-between; */
}

.comment-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.comment-header-column {
  display: flex;
  justify-content: flex-start;
  gap: 1.6rem;
  width: 100%;
}

.comment-header-column-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 86%;
  margin-top: 0.5rem;
}

.comment-header-column-2-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.comment-options-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

.comment-options-menu {
  display: none;
  position: absolute;
  right: 0;
  background: var(--white);
  box-shadow: var(--popular-sh);
  border-radius: 1.6rem;
  padding: 10px;
  z-index: 1000;
}

.answer-options-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

.answer-options-menu {
  display: none;
  position: absolute;
  right: 0;
  background: var(--white);
  box-shadow: var(--popular-sh);
  border-radius: 1.6rem;
  padding: 10px;
  z-index: 1000;
}

.fa-trash-can,
.fa-pen,
.fa-rectangle-xmark,
.fa-user-xmark,
.fa-triangle-exclamation,
.fa-circle-plus.story-option {
  margin-right: 1.6rem;
}

.fa-rectangle-xmark {
  transform: rotate(90deg);
}

.comment-options-menu button {
  display: block;
  background: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
}

.comment-options-menu button:hover {
  background: #f0f0f0;
  border-radius: 0.8rem;
}

.answer-options-menu button {
  display: block;
  background: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
}

.answer-options-menu button:hover {
  background: #f0f0f0;
  border-radius: 0.8rem;
}

/* Alapvető stílusok a modális ablakokhoz */
.modal {
  display: none; /* Rejtett alapértelmezetten */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 72%;
  border-radius: 1.6rem;
  z-index: 9999;
}

.modal-content h2 {
  font-size: 2.4rem;
}

.modal-content p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.delete-or-not,
.mute-or-not,
.unfollow-or-not {
  align-self: flex-end;
}

.close-edit-modal,
.close-delete-modal,
.close-delete-modal,
.close-delete-modal {
  color: #aaa;
  display: flex;
  font-size: 28px;
  font-weight: bold;
}

.close-edit-modal:hover,
.close-delete-modal:hover,
.close-mute-modal:hover,
.close-delete-modal:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button#confirmDeleteComment,
button#cancelDeleteComment,
button#confirmMuteStory,
button#cancelMuteStory,
button#confirmUnfollowStory,
button#cancelUnfollowStory {
  font-size: 1.6rem;
  padding: 1.6rem 2.4rem;
  color: var(--primary);
  font-weight: 800;
}

button#confirmDeleteComment:hover,
button#cancelDeleteComment:hover,
button#confirmMuteStory:hover,
button#cancelMuteStory:hover,
button#confirmUnfollowStory:hover,
button#cancelUnfollowStory:hover {
  background-color: var(--pale-grey);
  border-radius: 3.2rem;
}

#editCommentText {
  margin-bottom: 1.6rem;
  font-family: var(--body-font);
  background-color: var(--search-bg);
  border: none;
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  resize: none;
}

button#saveEditComment {
  font-size: 1.6rem;
  padding: 1.6rem 2.4rem;
  color: var(--primary);
  font-weight: 800;
  align-self: center;
}

button#saveEditComment:hover {
  background-color: var(--pale-grey);
  border-radius: 3.2rem;
}

/* Válasz modális ablakokhoz */
.modal {
  display: none; /* Rejtett alapértelmezetten */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 72%;
  border-radius: 1.6rem;
  z-index: 9999;
}

.edit-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.delete-first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.modal-content h2 {
  font-size: 2.4rem;
}

.modal-content p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.delete-or-not {
  align-self: flex-end;
}

.close-answer-edit-modal,
.close-answer-delete-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-answer-edit-modal:hover,
.close-answer-delete-modal:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button#confirmDeleteAnswer,
button#cancelDeleteAnswer {
  font-size: 1.6rem;
  padding: 1.6rem 2.4rem;
  color: var(--primary);
  font-weight: 800;
}

button#confirmDeleteAnswer:hover,
button#cancelDeleteAnswer:hover {
  background-color: var(--pale-grey);
  border-radius: 3.2rem;
}

#editAnswerText {
  margin-bottom: 1.6rem;
  font-family: var(--body-font);
  background-color: var(--search-bg);
  border: none;
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  resize: none;
}

button#saveEditAnswer {
  font-size: 1.6rem;
  padding: 1.6rem 2.4rem;
  color: var(--primary);
  font-weight: 800;
  align-self: center;
}

button#saveEditAnswer:hover {
  background-color: var(--pale-grey);
  border-radius: 3.2rem;
}

.like__btn.withcomment {
  font-size: 1.4rem;
  padding: 0;
  background: var(--white);
  font-family: var(--body-font);
  border-radius: 5px;
  color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.answer__btn.withcomment {
  font-size: 1.4rem;
  padding: 0;
}

/* textarea {
  width: 100%;
  box-sizing: border-box;
} */

/* button {
  padding: 10px 20px;
  margin: 10px;
} */

.reply-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  height: auto;
  min-height: 40px;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 3.2rem;
  resize: none;
  font-family: var(--body-font);
  background-color: var(--search-bg);
  overflow: hidden;
  box-sizing: border-box;
}

.reply-form textarea::placeholder {
  font-weight: 600;
  color: var(--grey);
  font-family: var(--body-font);
}

.reply-form button#newEmojiAnswer {
  padding: 0.4rem 0.8rem;
  border: none;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.reply-form textarea:focus {
  outline: none;
}

.reply-form textarea {
  width: 100%;
  height: auto;
  min-height: 40px;
  padding: 1rem 0.8rem 1.6rem 1.6rem;
  border: none;
  resize: none;
  font-family: var(--body-font);
  background-color: var(--search-bg);
  overflow: hidden;
  box-sizing: border-box;
}

.reply-form .post-reply-btn {
  padding: 0.4rem 0.8rem;
  border: none;
  color: var(--primary);
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-right: 0.8rem;
}

.reply-text {
  position: relative;
  padding: 8px;
  background-color: var(--pale-grey);
  border-radius: 0.8rem;
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 600;
}

.comment-second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 3.2rem;
}

.comment-options-menu.answer {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 165%);
  background: var(--white);
  box-shadow: var(--popular-sh);
  border-radius: 1.6rem;
  padding: 10px;
  z-index: 1000;
}

/* Válaszokra alkalmazott stílus */
.reply-to-existing {
  margin-left: 20px; /* Tolja el a válaszokat a fő kommentektől */
  background-color: #f9f9f9; /* Világos háttérszín a válaszokhoz */
  border-left: 3px solid #ddd; /* Bal oldali szegély a válaszokhoz */
  padding-left: 15px; /* Padding bal oldalon, hogy a szegély és szöveg között legyen hely */
}

.reply-to-comment {
  background-color: #f9f9f9; /* Háttér szín fő kommentekhez adott válaszokhoz */
}

.reply-to-reply {
  background-color: #e9e9e9; /* Háttér szín válaszokra adott válaszokhoz */
  margin-left: 2rem; /* Még nagyobb margó válaszokra adott válaszokhoz */
}

/* .test-emoji {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  left: 0%;
  width: 100%;
  top: 20%;
  background-color: grey;
} */

.intercom-composer-popover-input {
  font-size-adjust: none;
  font-size: 100%;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 400;
  font: var(--body-font);
  text-align: left;
  text-align-last: auto;
  text-decoration: none;
  -webkit-text-emphasis: none;
  text-emphasis: none;
  text-height: auto;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  alignment-adjust: auto;
  alignment-baseline: baseline;
  -webkit-animation: none 0 ease 0 1 normal;
  animation: none 0 ease 0 1 normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
  azimuth: center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background: none 0 0 auto repeat scroll padding-box transparent;
  background-color: transparent;
  background-image: none;
  baseline-shift: baseline;
  binding: none;
  bleed: 6pt;
  bookmark-label: content();
  bookmark-level: none;
  bookmark-state: open;
  bookmark-target: none;
  border: 0 none transparent;
  border-radius: 0;
  bottom: auto;
  box-align: stretch;
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice;
  box-direction: normal;
  box-flex: 0;
  box-flex-group: 1;
  box-lines: single;
  box-ordinal-group: 1;
  box-orient: inline-axis;
  box-pack: start;
  box-shadow: none;
  box-sizing: content-box;
  -webkit-column-break-after: auto;
  break-after: auto;
  -webkit-column-break-before: auto;
  break-before: auto;
  -webkit-column-break-inside: auto;
  break-inside: auto;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  color-profile: auto;
  -webkit-column-count: auto;
  -moz-column-count: auto;
  column-count: auto;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
  -webkit-column-gap: normal;
  -moz-column-gap: normal;
  column-gap: normal;
  -webkit-column-rule: medium medium #1f1f1f;
  -moz-column-rule: medium medium #1f1f1f;
  column-rule: medium medium #1f1f1f;
  -webkit-column-span: 1;
  -moz-column-span: 1;
  column-span: 1;
  -webkit-column-width: auto;
  -moz-column-width: auto;
  column-width: auto;
  -webkit-columns: auto auto;
  -moz-columns: auto auto;
  columns: auto auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  crop: auto;
  cursor: auto;
  direction: ltr;
  display: inline;
  dominant-baseline: auto;
  drop-initial-after-adjust: text-after-edge;
  drop-initial-after-align: baseline;
  drop-initial-before-adjust: text-before-edge;
  drop-initial-before-align: caps-height;
  drop-initial-size: auto;
  drop-initial-value: initial;
  elevation: level;
  empty-cells: show;
  fit: fill;
  fit-position: 0 0;
  float: none;
  float-offset: 0 0;
  grid-columns: none;
  grid-rows: none;
  hanging-punctuation: none;
  height: auto;
  hyphenate-after: auto;
  hyphenate-before: auto;
  hyphenate-character: auto;
  hyphenate-lines: no-limit;
  hyphenate-resource: none;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  icon: auto;
  image-orientation: auto;
  image-rendering: auto;
  image-resolution: normal;
  inline-box-align: last;
  left: auto;
  line-height: inherit;
  line-stacking: inline-line-height exclude-ruby consider-shifts;
  list-style: disc outside none;
  margin: 0;
  marks: none;
  marquee-direction: forward;
  marquee-loop: 1;
  marquee-play-count: 1;
  marquee-speed: normal;
  marquee-style: scroll;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  move-to: normal;
  nav-down: auto;
  nav-index: auto;
  nav-left: auto;
  nav-right: auto;
  nav-up: auto;
  opacity: 1;
  orphans: 2;
  outline: medium none invert;
  outline-offset: 0;
  overflow: visible;
  overflow-style: auto;
  padding: 0;
  page: auto;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  page-policy: start;
  -webkit-perspective: none;
  perspective: none;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  pointer-events: auto;
  position: static;
  presentation-level: 0;
  punctuation-trim: none;
  quotes: none;
  rendering-intent: auto;
  resize: none;
  right: auto;
  rotation: 0;
  rotation-point: 50% 50%;
  ruby-align: auto;
  ruby-overhang: none;
  ruby-position: before;
  ruby-span: none;
  size: auto;
  string-set: none;
  table-layout: auto;
  top: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform-style: flat;
  transform-style: flat;
  transition: all 0 ease 0;
  unicode-bidi: normal;
  vertical-align: baseline;
  white-space: normal;
  white-space-collapse: collapse;
  widows: 2;
  width: auto;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: auto;
  text-align: start;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.intercom-composer-popover {
  z-index: 2147483003;
  position: absolute;
  bottom: 50px;
  right: calc(50% - 165px);
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 6px;
  transition-duration: 200ms;
  transition-delay: 0ms;
  transform-style: flat;
  transform-origin: 50% 50% 0;
  opacity: 0;
  transition: all 0.2s linear;
  visibility: hidden;
}
.intercom-composer-popover.active {
  visibility: visible;
  opacity: 1;
  bottom: 80px;
}
.intercom-emoji-picker {
  width: 330px;
  height: 260px;
}
.intercom-composer-popover-header {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  height: 40px;
  border-bottom: 1px solid #edeff1;
}
.intercom-composer-popover-input {
  background-image: url(https://js.intercomcdn.com/images/search.7ae40c25.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0 12px;
  font-weight: 400;
  font-size: 14px;
  color: #6e7a89;
  padding-left: 25px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(https://js.intercomcdn.com/images/search@2x.9f02b9f3.png);
  border: none;
  outline: none;
}
.intercom-composer-popover-body {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 5px;
  padding: 0 20px;
  overflow-y: scroll;
}
.intercom-emoji-picker-group {
  margin: 10px -5px;
}
.intercom-emoji-picker-group {
  margin: 10px -5px;
}
.intercom-emoji-picker-group-title {
  color: #b8c3ca;
  font-weight: 400;
  font-size: 13px;
  margin: 5px;
}
.intercom-emoji-picker-emoji {
  padding: 5px;
  width: 30px;
  line-height: 30px;
  display: inline-table;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  font-size: 28px;
  transition: -webkit-transform 60ms ease-out;
  transition: transform 60ms ease-out;
  transition: transform 60ms ease-out, -webkit-transform 60ms ease-out;
  transition-delay: 60ms;
  font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji,
    Segoe UI Symbol, Android Emoji, EmojiSymbols;
}
.intercom-emoji-picker-emoji:hover {
  transition-delay: 0ms;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.intercom-composer-popover-caret {
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  right: 50%;
}

/* .chat-input-tool {
  background-color: #32a8e6;
  padding: 10px;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  outline: none;
} */

.story-options-menu p {
}

.mute-story,
.unfollow-story,
.report-story,
.create-story {
  display: flex;
  align-items: center;
}

.story-options-menu {
  display: none;
  position: absolute;
  transform: translate(0%, 50%);
  top: 0;
  right: 0;
  background: var(--white);
  box-shadow: var(--popular-sh);
  border-radius: 1.6rem;
  padding: 10px;
  z-index: 10;
}

.story-options-menu button {
  display: flex;
  background: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
}

.story-options-menu button:hover {
  background: #f0f0f0;
  border-radius: 0.8rem;
}
