:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --primary-light-darker: #ffd7e1;
  --black: #0e0e0e;
  --pale-grey: #f9faff;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;

  --white: #ffffff;
  --ice-blue: #e5e9fd;

  --linear-gradient-1: linear-gradient(
    to right bottom,
    #455efd,
    #ff5483,
    #f46e4b
  );

  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@import url("https://use.typekit.net/ovt6ynt.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: default;

  overflow: auto;
}

body {
  font-family: var(--body-font);
  background-color: var(--pale-grey);
}

main {
  height: 100%;
  width: 100%;
}
