:root {
  --primary: #ff5483;
  --primary-light: #fff6f5ff;
  --primary-light-darker: #ffd7e1;
  --black: #0e0e0e;
  --pale-grey: #f0f2f5;
  /* --pale-grey: #e4e6eb; */
  /* --pale-grey: #f9faff; */
  --grey: #aeb0ba;

  --white: #ffffff;
  --ice-blue: #e5e9fd;

  --linear-gradient-1: linear-gradient(
    to right bottom,
    #455efd,
    #ff5483,
    #f46e4b
  );

  --search-bg: var(--pale-grey);
  --body-font: "Nunito", sans-serif;

  --popular-sh: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: default;

  overflow: auto;
}

body {
  font-family: var(--body-font);
  background-color: var(--pale-grey);
}

main {
  height: 100%;
  width: 100%;
}

.main-nav {
  height: 100%;
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 8rem;
  width: 100%;
  /* border-bottom: 2.4rem solid var(--border-color); */
  padding: 0rem 3.2rem;
  white-space: nowrap;
  background-color: var(--white);
}
@media screen and (max-width: 480px) {
  .header {
    padding: 0 16px;
  }
}

.img-logo-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.img-logo {
  height: 100%;
  width: 9.6rem;
}

.logo-ill {
  height: 100%;
  width: 4.8rem;
}

.logo-text {
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--black);
  letter-spacing: -0.8px;
}

.search-bar {
  height: 4.8rem;
  display: flex;
  width: 100%;
  max-width: 80rem;
  padding: 0 4rem 0 4rem;
  border-radius: 1.6rem;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--search-bg);
  border-radius: 16rem;
  font-family: var(--body-font);
  font-size: 1.6rem;
  font-weight: 200;
  padding: 0 2rem 0 4rem;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color: var(--grey);
}
.search-bar input::-moz-placeholder {
  font-family: var(--body-font);
  color: var(--inactive-color);
  font-size: 15px;
  font-weight: 600;
}
.search-bar input:-ms-input-placeholder {
  font-family: var(--body-font);
  color: var(--inactive-color);
  font-size: 15px;
  font-weight: 600;
}
.search-bar input::placeholder {
  font-family: var(--body-font);
  color: var(--inactive-color);
  font-size: 15px;
  font-weight: 600;
}

/* header button  */

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.button-body {
  font-family: var(--body-font);
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 0 0 2rem; */
  /* background-color: var(--pale-grey); */
  outline: solid 2px var(--pale-grey);
  outline-offset: -2px;
  border-radius: 8rem;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 1.6rem;
  font-family: inherit;
}
button.learn-more {
  width: 16rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 4rem;
  height: 4rem;
  background: var(--primary);
  border-radius: 8rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--white);
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 1.3rem;
  bottom: 1.6rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 16px;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 3.2rem;
  color: var(--black);
  font-weight: 800;
  line-height: 1.6;
  text-align: center;
  font-size: 1.6rem;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  /* background: #fff; */
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/* RIGHT HEADER  */
.header-profile {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header-profile svg {
  width: 2.4rem;
  color: var(--black);
  flex-shrink: 0;
}

.header-right-end {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.notification-container {
  position: relative;

  height: auto;
  width: 100%;
}

.notification {
  padding: 1rem 1.3rem;
}

.notification::before,
.notification::after {
  --scale: 0;

  position: absolute;
  top: 2.8rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(var(--scale));

  transition: 0.2s transform;
  transition-delay: 50ms;
  transform-origin: top center;
}

.notification::before {
  content: attr(data-tooltip);
  color: var(--white);
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  font-size: 1.2rem;
  width: max-content;
  /* max-width: 100%; */
  text-align: center;
  border-radius: 0.6rem;
  background: var(--black);
}

.notification:hover::before {
  --scale: 1;
  z-index: 9999;
}

.notification:hover {
  position: relative;

  background-color: var(--pale-grey);
  border-radius: 50rem;

  cursor: pointer;
}

.notification-number {
  position: absolute;
  background-color: var(--primary);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  right: 8px;
  top: 4px;

  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Safari/Chrome */
}
.notification + svg {
  margin-left: 22px;
}
@media screen and (max-width: 945px) {
  .notification + svg {
    display: none;
  }
}
.profile-img-container {
  position: relative;
}

.profile-img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid var(--theme-color);
  /* margin-left: 22px; */
  cursor: pointer;

  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Safari/Chrome */
}

.profile-img::before,
.profile-img::after {
  --scale: 0;

  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(var(--scale));

  transition: 0.2s transform;
  transition-delay: 50ms;
  transform-origin: top center;
}

.profile-img::before {
  content: attr(data-tooltip);
  color: var(--white);
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  width: max-content;
  /* max-width: 100%; */
  text-align: center;
  border-radius: 0.6rem;
  background: var(--black);
}

.profile-img:hover::before {
  --scale: 1;
  z-index: 9999;
}

.profile-img:hover {
  position: relative;

  filter: brightness(95%);

  cursor: pointer;
}

.wide .header-menu,
.wide .header-profile {
  display: none;
}
.wide .search-bar {
  max-width: 600px;
  margin: auto;
  transition: 0.4s;
  box-shadow: 0 0 0 1px var(--border-color);
  padding-left: 0;
}
.wide .menu-circle {
  margin-right: 0;
}

.sub-menu-wrap {
  position: absolute;
  top: 88%;
  right: 2%;
  width: 36rem;

  display: none; /* Hide the submenu initially */

  z-index: 0;

  transition: all 0.08s;
}

.sub-menu-wrap.open-menu {
  display: block; /* Show the submenu */
  z-index: 9998;
}

.sub-menu {
  background: var(--white);
  padding: 1.6rem;
  /* margin: 1.6rem; */
  border-radius: 1.6rem;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.user-info {
  display: flex;
  align-items: center;
  border-radius: 1.6rem;
  padding: 0.8rem;
  margin-bottom: 1.6rem;

  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.user-info h2 {
  font-weight: 700;
  font-size: 1.6rem;
}

.user-info img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 1.6rem;
  margin-right: 15px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  padding: 1.2rem;

  font-size: 1.6rem;
  font-weight: 700;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 40px;
  /* background-color: var(--primary-light); */
  border-radius: 50%;
  padding: 8px;
  margin-right: 4px;
}

.sub-menu-link span {
  font-size: 1.2rem;
  transition: transform 0.2s;
}
/* 
.sub-menu-link:hover p {
  color: var(--primary);
} */

.sub-menu-link:hover span {
  transform: translateX(4px);
  /* color: var(--primary); */
}

.sub-menu-link:hover {
  background-color: var(--pale-grey);
  border-radius: 1.6rem;
}

.user-info:hover {
  background-color: var(--pale-grey);
  border-radius: 1.6rem;
  cursor: pointer;
}

/* noti-sub-menu  */

.sub-menu-wrap-noti {
  position: absolute;
  top: 88%;
  right: 6%;
  width: 36rem;
  max-height: 70vh;

  border-radius: 1.6rem;

  display: none;

  z-index: 9998;

  overflow: auto;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;

  transition: all 0.08s;
}

.sub-menu-wrap-noti::-webkit-scrollbar {
  width: 0.8vw;
}

.sub-menu-wrap-noti::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8rem;
}

.sub-menu-wrap-noti::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8rem;
}

.sub-menu-wrap-noti::-webkit-scrollbar-track:hover {
  background: var(--grey);
}
.sub-menu-wrap-noti.open-menu-noti {
  display: block; /* Show the submenu */
  z-index: 9998;
}

.sub-menu-noti {
  background: var(--white);
  padding: 1.6rem 2.4rem;
  /* margin: 1.6rem; */
  border-radius: 1.6rem;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.user-info-noti {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  padding: 1.2rem 0.8rem;
  margin-bottom: 1.6rem;

  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.user-info-noti h2 {
  font-weight: 700;
  font-size: 1.6rem;
}

.user-info-noti img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 1.6rem;
  margin-right: 15px;
}

.user-info-noti-read h2 {
  font-weight: 700;
  font-size: 1.6rem;
}

.user-info-noti-read img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 1.6rem;
  margin-right: 15px;
}

.sub-menu-link-noti {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  padding: 1.2rem;

  font-size: 1.6rem;
  font-weight: 700;
}

.sub-menu-link-noti p {
  width: 100%;
}

.sub-menu-link-noti img {
  width: 40px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link-noti span {
  font-size: 1.2rem;
  transition: transform 0.2s;
}

.sub-menu-link-noti:hover p {
  color: var(--primary);
}

.sub-menu-link-noti:hover span {
  transform: translateX(4px);
  color: var(--primary);
}

.sub-menu-link-noti:hover {
  background-color: var(--pale-grey);
  border-radius: 1.6rem;
}

.user-info-noti:hover {
  background-color: var(--pale-grey);
  border-radius: 1.6rem;
  cursor: pointer;
}

.user-info-noti-read:hover {
  background-color: var(--pale-grey);
  border-radius: 1.6rem;
  cursor: pointer;
}

/* noti-open */

.flex-row {
  display: flex;
}

.noti-tabs-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;

  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Safari/Chrome */
}

a.h5 {
  font-size: 1.6rem;
}

#noti-tabs {
  font-size: 1.6rem;
  text-transform: none;
  margin-right: 0.8rem;
  font-weight: 700;

  transition: filter 0.1s ease-in-out;
}

#noti-tabs:hover {
  filter: brightness(97%);
}

#noti-tabs-not {
  font-size: 1.6rem;
  text-transform: none;
  font-weight: 700;
  color: var(--black);
  background: none;
}

#noti-tabs-not:hover {
  filter: brightness(97%);
  background: var(--pale-grey);
}

#stories-first-row-noti {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

#stories-title-noti {
  font-size: 1.6rem;
}

#fa-chevron-right-noti {
  font-size: 1.2rem;
}

#all-stories-link-noti {
  font-size: 1.6rem;

  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Safari/Chrome */
}

.new-noti-circle {
  display: flex;
  align-self: center;
  margin: 0 0.8rem 0 0;
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--primary);
  border-radius: 50%;
}

.left-flex-noti-container {
  display: flex;
  align-items: flex-start;
}

#noti-img {
  display: block;
  align-self: flex-start;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
}

.user-info-noti {
  display: flex;
  width: 100%;
  align-items: flex-start;

  white-space: normal;
  word-break: break-word;

  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Safari/Chrome */
}

.flex-noti-message-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.right-felx-noti-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
}

.text-info-noti {
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.6rem;
}

.time-noti {
  color: var(--primary);
  font-weight: 800;
  font-size: 1.2rem;
}

.noti-name {
  font-weight: 700;
}

.noti-event-name {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}

.user-info-noti-read {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  padding: 0.8rem;
  margin-bottom: 1.6rem;

  width: 100%;
  align-items: flex-start;

  white-space: normal;
  word-break: break-word;

  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Safari/Chrome */
}

.read-circle {
  background-color: var(--pale-grey);
}

.read {
  font-weight: 600;
}

/* BOTTOM NAV  */

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.container {
  font-family: var(--body-font);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  background-color: var(--pale-grey);
}

.phone {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 36em;
  height: 4.8em;
  background-color: #f3f3f3;
  border-radius: 16rem;
  overflow: hidden;

  margin-bottom: 2.4rem;

  z-index: 9999;

  box-shadow: var(--popular-sh);
}

.phone-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8em;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background-color: var(--white);
  margin-top: auto;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-user-select: none; /* Safari/Chrome */

  /* gap: 0.8rem; */
}
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0.8rem; */
  padding: 2.4rem;
  border-radius: 16rem;
  /* color: white; */
}

/* STICKY NAVIGATION */
/* .phone .sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
} */

/* .sticky .hero-sect {
  margin-top: 9.6rem;
} */

/* .nav-item:nth-child(1) {
  background-color: #e8e2f6;
} */
.nav-item label {
  color: var(--black);
}

.nav-item:nth-child(1) label::before {
  content: "\f015";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  font-size: 2rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nav-item:nth-child(2) label::before {
  content: "\f073";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  font-size: 2rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nav-item:nth-child(3) label::before {
  content: "\f145";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  font-size: 2rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nav-item:nth-child(4) label::before {
  content: "\f27a";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  font-size: 2rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.icon-home {
  height: 26px;
}

.nav-item:nth-child(1) span {
  /* color: #5b37b7; */
  font-weight: 800;
}

.nav-item:nth-child(2) span {
  font-weight: 800;
}
.nav-item:nth-child(3) span {
  font-weight: 800;
}
.nav-item:nth-child(4) span {
  font-weight: 800;
}
/* .nav-item:nth-child(1) span:before {
  background-color: #5b37b7;
} */
/* .nav-item:nth-child(2) {
  background-color: #f6e3f1;
} */
/* .nav-item:nth-child(2) label {
  background-color: #b73892;
} */
/* .nav-item:nth-child(2) span {
  color: #b73892;
} */
/* .nav-item:nth-child(2) span:before {
  background-color: #b73892;
} */
/* .nav-item:nth-child(3) {
  background-color: #fff3d9;
} */
/* .nav-item:nth-child(3) label {
  background-color: #eda600;
} */
/* .nav-item:nth-child(3) span {
  color: #eda600;
} */
/* .nav-item:nth-child(3) span:before {
  background-color: #eda600;
} */

/* .nav-item:nth-child(4) {
  background-color: #afedf7;
} */

/* .nav-item:nth-child(4) label {
  background-color: #1194aa;
} */

/* .nav-item:nth-child(4) span {
  color: #aa3011;
} */

/* .nav-item:nth-child(4) span:before {
  background-color: #1194aa;
} */

/* .nav-item {
  background-color: var(--primary);
}

.nav-item input:not(:checked) {
  background-color: var(--grey);
} */

.nav-item * {
  cursor: pointer;
}
.nav-item label {
  position: relative;
  display: flex;

  width: 1em;
  height: 1em;
  background-color: inherit;
  border-radius: 50%;
}
.nav-item label:before {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background-color: transparent;
}
.nav-item span {
  font-size: 0.875em;
  margin-left: 0;
  max-width: 0;
  overflow: hidden;
  transition-property: max-width, margin-left;
  transition-duration: 0.32s;
  transition-timing-function: ease;
}
.nav-item span:before {
  content: "";
  opacity: 0;
  position: fixed;
  z-index: -1;
  top: 50%;
  margin-top: -100rem;
  left: 50%;
  margin-left: -100rem;
  width: 200rem;
  height: 200rem;
  transform-origin: center;
  transform: scale(0.1);
  border-radius: 50%;
  transition-property: opacity, transform;
  transition-duration: 0.32s;
  transition-timing-function: ease;
}
.nav-item input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.nav-item input:checked + span {
  max-width: 100vw;
  margin-left: 0.8rem;
  color: var(--white);
}
.nav-item input:checked + span:before {
  opacity: 1;
  transform: scale(1);
}
/* 
.nav-item input:checked + .nav-item {
  background-color: var(--primary);
} */

.hero-section {
  background-color: var(--pale-grey);
  width: 100%;
  height: 2000px;
}

.fa-plus.navi {
  font-size: 2rem;
  position: absolute;
  top: -1.5px;
  right: -4.5px;
}

.search-bar input[type="text"]:focus {
  outline: var(--grey) solid 2px transparent;
  color: var(--black);
  font-weight: 600;
  font-family: var(--body-font);
}

.circle-2 {
  width: 100%;
  height: 40%;
}
